/* footer */

.footer-secion {
    font-size: medium;
}

.section-title {
    color: white;
    font-weight: bolder;
    padding-top: 1em;
}

.footer-account li a {
    color: #a9a9a9;
}

.footer-account li{
    color: #a9a9a9;
}

.footer-popular li {
    color: #a9a9a9;
}

.first-section-imgs {
    margin-bottom: 0.5em;
}

.dhl {
    background: url('../../../../../assets/images/martmax.png') no-repeat -688px -6827px;
    width: 88px;
    height: 51px;
}

.aramex {
    background: url('../../../../../assets/images/martmax.png') no-repeat -685px -6901px;
    width: 125px;
    height: 38px;
}

.our-support {
    background: url('../../../../../assets/images/martmax.png') no-repeat -1201px -6827px;
    width: 185px;
    height: 85px;
}

.fb {
    background: url('../../../../../assets/images/martmax.png') no-repeat -1204px -6942px;
    width: 38px;
    height: 38px;
}

.tw {
    background: url('../../../../../assets/images/martmax.png') no-repeat -1251px -6942px;
    width: 38px;
    height: 38px;
}

.insta {
    background: url('../../../../../assets/images/martmax.png') no-repeat -1298px -6942px;
    width: 38px;
    height: 38px;
}

.yt {
    background: url('../../../../../assets/images/martmax.png') no-repeat -1345px -6942px;
    width: 38px;
    height: 38px;
}


/*payment methods*/

.payment-methods {
    background-color: #eef1f1;
    padding: 1em;
}

.visa {
    background: url('../../../../../assets/images/martmax.png') no-repeat -572px -7335px;
    width: 100px;
    height: 31px;
}

.master {
    background: url('../../../../../assets/images/martmax.png') no-repeat -738px -7324px;
    width: 86px;
    height: 52px;
}

.paypal {
    background: url('../../../../../assets/images/martmax.png') no-repeat -889px -7333px;
    width: 147px;
    height: 35px
}

.cash {
    background: url('../../../../../assets/images/martmax.png') no-repeat -1103px -7333px;
    width: 120px;
    height: 35px;
}

.we-accept {
    color: #4492f7;
    font-weight: bolder;
    font-size: larger;
}

.copyright {
    background-color: #343434;
    color: white;
    background-color: black;
    padding: 1em;
}

.mQuBits_img {
    margin: 0 auto;
    width: 128px;
    height: 96px;
}

.mo-footer-color
{
    background-color:#434343;
    color: lightgrey;
}

.logo
{
    padding: 10px;
    height: 140px;
    width: 300px;
}

/*****************************/
@media(min-width:768px) {
    .footer-logo-media{
        padding-right: 1em;
    }
    
}
/*******************************/
@media(max-width:767px) {
    .footer-logo-media{
        padding: 0;
    }
    
}

@media(min-width:768px) {
    .container-fluid{
        padding-right: 1em;
        padding-left: 1em;
    }
    
}

/* Small only */
@media screen and (max-width: 39.9375em)
 {
    .mobile-footer-item
    {
        font-size: xx-small;
        text-align: center;
    }
 }

 /* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em)
 {
    .mobile-footer-item
    {
        font-size: x-small;
        text-align: center;
    }
 }


