<!-- footer  -->
<footer class="container-fluid mo-footer-color hidden-xs hidden-sm">
    <div class="container">
        <div class="row">

            <!-- first section -->
            <div class="row col-md-6 col-sm-6">
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <div class="row">
                        <div routerLink="/home" routerLinkActive="active"><img src="../../../../../assets/images/footer-logo.png" class="col-sm-12 col-md-12 col-xs-4 img-responsive first-section-imgs center-block footer-logo-media logo"></div>
                        <div routerLink="/commingsoon" routerLinkActive="active"><img src="../../../../../assets/images/footer-apple.png" class="col-sm-12 col-md-10 col-xs-4 img-responsive first-section-imgs center-block"></div>
                        <div routerLink="/commingsoon" routerLinkActive="active"><img src="../../../../../assets/images/footer-android.png " class="col-sm-12 col-md-10 col-xs-4 img-responsive center-block"></div>
                    </div>
                </div>

                <!-- Second section -->
                <div class="col-sm-4 col-md-4 col-xs-6 mg-pd">
                    <p class="section-title">martmax.co</p>
                    <ul class="list list-unstyled  footer-account">
                        <li><a href="#">About us </a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Join us</a></li>
                        <li><a href="#">Terms and conditions</a></li>
                    </ul>
                </div>

                <div class="col-sm-4 col-md-4 col-xs-6 mg-pd">
                    <p class="section-title">My Account</p>
                    <ul class="list list-unstyled footer-account">
                        <li><a href="#">Login/Register</a> </li>
                        <li><a href="#">My Orders</a></li>
                        <li><a href="#">My Addresses </a></li>
                        <li><a href="#">Wish lists</a></li>
                        <li><a href="#">Account settings</a></li>
                        <li><a href="#">Account Summery</a></li>
                        <li><a href="#">Become a Partner </a></li>
                        <li><a href="#">Affiliate program </a></li>
                    </ul>
                </div>

            </div>

            <div class="row  col-md-6 col-sm-6">
                <div class="col-sm-4 col-md-4 col-xs-6 mg-pd">
                    <p class="section-title">Help center</p>
                    <ul class="list list-unstyled footer-account">
                        <li>...</li>
                    </ul>
                </div>
                <!--third section-->
                <div class="col-sm-4 col-md-4 col-xs-6 mg-pd">
                    <p class="section-title">Useful links</p>
                    <ul class="list list-unstyled  footer-account">
                        <li><a href="#">Size chart</a></li>
                        <li><a href="#">...</a></li>
                    </ul>
                </div>
                <!-- contact us-->
                <div class="col-sm-4 col-md-4 col-xs-6 mg-pd">
                    <p class="section-title">Contact us</p>
                    <ul class="list list-unstyled footer-account">
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">9 Ahmed Shoukry - Qasr al Nile, Cairo - Egypt </a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>(+20)225744371</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>(+20)225744375</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i> (+20)1221699490</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i> info@martmax.co</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i> www.martmax.co</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- payment methods-->

</footer>

<!-- footer mobile/tablets-->
<footer class="containerfluid mo-footer-color hidden-lg hidden-md">
    <div class="container row" style="margin: 0;">
        <div class="col-xs-4 col-sm-4 mobile-footer-item">
            Contact
        </div>
        <div class=" col-xs-4 col-sm-4 mobile-footer-item">
            Help
        </div>
        <div class="col-xs-4 col-sm-4 mobile-footer-item">
            Trems & Conditions
        </div>
    </div>
    <a href="#" class="go-top" style="display: none;">Back to top</a>
</footer>

<div class="container-fluid hidden-lg hidden-md  mo-footer-color ">
    <p class="text-center mobile-footer-item">All Rights Reserved &copy;</p>
</div>

<div class="container-fluid copyright hidden-xs hidden-sm">
    <div class="container">
        <p class="text-center">Copyright @ 2017 - All rights reserved</p>
        <!--<a href="http://www.mqubits.com" target="_blank">
                <img [src]="angularclassLogo" class="img-responsive mQuBits_img" title="mQuBits" />
            </a>-->
    </div>
</div>