<martmax-header></martmax-header>
<scrap></scrap>
<!-- new -->
<div class="container-fluid track-bg">
    <div class="container ">
        <!-- user name-->
        <h1 class="text-center track-txt">Track your orders</h1>
        <h4 class="text-center">Here you can past your order to ...</h4>
        <h4 class="text-center">some text some text some text some text some text</h4>

        <div class="center-block text-center use-code row margin-pad-zro AE-number-order">

            <div class="col-xs-0 col-sm-2 margin-pad-zro"></div>
            <!--
            <div class="input-group col-sm-3 margin-pad-zro">

                <input id="password" type="text" class="form-control btn-size btn-txt" name="password" placeholder="enter your order number">

                <span class="input-group-addon btn btn-primary use-btn btn-size btn-btn">Use</span>

            </div>
            -->
            <div class="col-xs-12 input-group col-sm-8 margin-pad-zro">
                <!--
                <input id="email" type="text" class="form-control btn-size btn-txt" name="email" placeholder="enter your email">

                <span class="input-group-addon btn btn-primary use-btn btn-size btn-btn">Use</span>
                -->
                
                <form class="navbar-form navbar-left margin-pad-zro number-order-form">
                    <div class="row margin-pad-zro">
                        <div class="col-xs-12 col-sm-4 input-group margin-pad-zro email-for-order">
                            <input type="text" class="form-control margin-pad-zro" id="email" placeholder="enter your email">
                        </div>
                        <div class="col-xs-12 col-sm-4 input-group margin-pad-zro pass-for-order">
                          <input class="form-control margin-pad-zro" id="password" type="text" name="password" placeholder="enter your order number">
                        </div>
                        <div class="col-xs-12 col-sm-12 margin-pad-zro col-btn-track">
                            <button class="btn btn-default mg-pd" id="btn-trackorder" type="submit">
                              TRACK ORDER
                            </button>
                        </div>
                    </div>
                </form>   
            </div>
        </div>

        <div class="row">

            <div class="col-sm-3  list-color panel panel-default" style="margin-top: 6em;">

                <!--Account -->

                <h3 class="account">MY ACCOUNT</h3>

                <ul class="list list-unstyled list-style">

                    <li><a href="#"><i class="glyphicon glyphicon-briefcase"></i> My orders</a></li>

                    <li><a href="#"><i class="glyphicon glyphicon-user"></i> Shipping addresses</a></li>

                    <li><a href="#"><i class="glyphicon glyphicon-heart"></i> Wish lists</a></li>

                    <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Account settings</a></li>

                </ul>
            </div>

            <div class="col-sm-8 progress-block">

                <!-- progress -->

                <div class="stepwizard">

                    <div class="stepwizard-row">

                        <div class="stepwizard-step" id="stepwizard-step-id">

                            <button type="button" class="btn btn-primary btn-circle" id="btn-one">1</button>

                            <p class="text-primary" id="text-one"><b>Order Received</b></p>

                        </div>

                        <div class="stepwizard-step">

                            <button type="button" class="btn btn-primary btn-circle">2</button>

                            <p class="text-primary"><b>US Office</b></p>

                        </div>

                        <div class="stepwizard-step">

                            <button type="button" class="btn btn-default btn-bg btn-circle">3</button>

                            <p class="txt-color">Customs</p>

                        </div>

                        <div class="stepwizard-step">

                            <button type="button" class="btn btn-default btn-bg btn-circle" disabled="disabled">4</button>

                            <p class="txt-color">Egypt Office</p>

                        </div> 

                        <div class="stepwizard-step">

                            <button type="button" class="btn btn-default btn-bg btn-circle" disabled="disabled">5</button>

                            <p class="txt-color">Received</p>

                        </div> 

                    </div>

                </div>



                <!-- Account information-->

                <div class="row"  id="id-row-btom">

                    <div class="panel panel-default text-left">

                        <div class="panel-body">

                            <ul class="list list-unstyled list-style">

                                <li><span class="btn btn-primary btn-circle">1</span> some text  some text some text some text some text some text some text some text</li>

                                <li><span class="btn btn-primary btn-circle">2</span> some text  some text some text some text some text some text some text some text</li>

                                <li><span class="btn btn-primary btn-circle">3</span>  some text some text some text some text some text some text some text some text</li>

                                <li><span class="btn btn-primary btn-circle">4</span>  some text some text some text some text some text some text some text some text</li>

                            </ul>                 

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
