#backtotop {
    border-radius: 50%;
    line-height: 48px;
    background-color: #333;
    display: block;
    position: fixed;
    bottom: 50px;
    text-align: center;
    width: 45px;
    right: 10px;
    opacity: 0;
    transition: all 0.4s ease 0s;
    color: #FFF;
    font-size: 11px;
    height: 45px;
    z-index: 99999;
    cursor: pointer;
}

#backtotop:hover {
    background-color: #f4c20d;
    transition: .4s;
    color: #fff;
}

#backtotop.active {
    opacity: 1;
}