<martmax-coupon class="hidden-xs hidden-sm"></martmax-coupon>

<!-- scrap url-->
<div class="container-fluid  mo-scrap-contnent sticky" id=" mo-scrap-contnent" data-spy="affix" data-offset-top="197">
    <div class="container scrap-container">
        <div class="row" id="scrap-mobile">
            <div class="col-xs-2 col-sm-2 hidden-lg hidden-md  mg-pad">
                <span routerLink="/" routerLinkActive="active" class="glyphicon glyphicon-align-justify mobile-icon" id="menu-btn"></span>

            </div>

            <!-- logo desktops -->
            <div class="col-md-2 img-col mg-pad hidden-xs hidden-sm" id="sticy-logo-affix-top">
                <img class="img-responsive martmax-logo" style="width: 100%; height: auto" routerLink="/home" src="../../../../../assets/images/martmax-logo.png">
            </div>
            <div class="col-xs-2 col-sm-2 img-col mg-pad hidden-sm hidden-xs hidden-lg hidden-md" id="sticky-logo">
                <img class="img-responsive martmax-mobile" routerLink="/home" src="../../../../../assets/images/martmax-mobile.png">
            </div>
            <!-- tablets/mobile logo -->
            <div class="col-xs-2 col-sm-2 img-col mg-pad hidden-lg hidden-md">
                <img class="img-responsive martmax-mobile" routerLink="/home" src="../../../../../assets/images/martmax-mobile.png">
            </div>

            <div class="col-md-3 hidden-xs hidden-sm martmax-slogan" id="slog">
                <img class="img-responsive" routerLink="/home" src="../../../../../assets/images/martmax-slogin.png">
            </div>

            <div class="col-md-7 ae-mg-col hidden-xs hidden-sm" id="search-id-affix">
                <form class="navbar-form navbar-right" id="mo-search-form" [formGroup]="scrapForm" (ngChange)="ngOnChanges()">
                    <div class="input-group gropform">
                        <input type="text" class="form-control search-txt" placeholder="Search Martmax Or Paste Product URL" formControlName="url">
                        <div class="input-group-btn">
                            <button class="btn btnsearch" type="submit">
                                      <i class="glyphicon glyphicon-search" id="search-icon"></i>
                                    </button>
                            <div *ngIf="errors" class="alert alert-danger">
                                {{ errors | json }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <div class="col-sm-1 hidden-xs hidden-sm hidden-lg hidden-md" id="cart-affix">
                <span routerLink="/cart" routerLinkActive="active" class="glyphicon glyphicon-shopping-cart mobile-icon" id="cart-affix-span"></span>
            </div>
            <div class="col-sm-1 hidden-xs hidden-sm hidden-lg hidden-md" id="cart-affix">
                <span routerLink="#" routerLinkActive="active" class="glyphicon glyphicon-heart mobile-icon" id="cart-affix-span"></span>
            </div>

            <div class="dropdown col-sm-1 hidden-xs hidden-sm hidden-lg hidden-md" id="cart-affix-account"><a class="dropdown-toggle" id="account-link-drop" data-toggle="dropdown" href="#">Account<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="center-block"><a routerLink="users/auth" routerLinkActive="active" class="center-block gradient btn btn-primary track-btn"
                            id="login-btn">Log in</a></li>
                    <li>
                        <h6 class="text-center menu-label center-block">New Customer</h6>
                    </li>
                    <li class="center-block"><a routerLink="users/auth" routerLinkActive="active" class="center-block gradient btn btn-primary track-btn"
                            id="login-btn">Sign up</a></li>
                    <li>
                        <hr>
                    </li>
                    <li>
                        <h6 class="text-center  menu-label center-block">Track your order</h6>
                    </li>
                    <li><input class="text-center form-control track-btn center-block" type="text" placeholder="oreder number"></li>
                    <li><input class="text-center form-control track-btn center-block" type="email" placeholder="your email"></li>
                    <li><a class="text-center gradient btn btn-primary track-btn track-btn-white center-block" id="track-btn">Track order</a></li>

                </ul>
            </div>

            <div class="col-xs-4 col-sm-4 hidden-lg hidden-md mg-pad">
                <span class="glyphicon glyphicon-search mobile-icon" data-toggle="dropdown"></span>
                <ul class="dropdown-menu row">
                    <!-- mobile form -->
                    <form class="navbar-form navbar-center">
                        <div class="input-group">
                            <input type="text" class="form-control  col-xs-10 col-sm-10" placeholder="Search Item Or Paste Product Url">
                            <div class="input-group-btn input-group-btn-css">
                                <button class="btn btn-default btnsearch  col-xs-2 col-sm-2" type="submit" id="search">
                                  <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </ul>
            </div>


            <div class="col-xs-2 col-sm-2 hidden-lg hidden-md mg-pad">
                <span routerLink="/cart" routerLinkActive="active" class="glyphicon glyphicon-shopping-cart mobile-icon"></span>
            </div>

            <div class="col-xs-2 col-sm-2 dropdown hidden-lg hidden-md">
                <span class="glyphicon glyphicon-option-vertical mobile-icon" data-toggle="dropdown"></span>
                <ul class="dropdown-menu dropdown-menu-right drop-ul-right">
                    <li class="contact-us-li"><a class="contact-us-link">Premium</a></li>
                    <li class="contact-us-li"><a routerLink="users/auth" routerLinkActive="active">Sign in</a></li>
                    <li class="contact-us-li"><a routerLink="users/auth" routerLinkActive="active">Sign up</a></li>

                    <li class="contact-us-li">
                        <a class="contact-us-link" href="#">Contact Us</a>
                    </li>
                    <li class="contact-us-li">
                        <a class="contact-us-link" href="#">Help</a>
                    </li>
                    <li class="contact-us-li">
                        <a class="contact-us-link" href="#">Arabic</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>