<martmax-header></martmax-header>
<div class="container">
    <div class="foreground">
        <!-- zfc autolink on -->
        <h3>We're here to help!</h3>

        <p>Call us: +201221699490 6am - 8pm EET</p>

        <p>Email us: <a href="mailto:info@martmax.co">info@MartMax.com</a></p>

        <h3>Questions? Select a topic to learn more!</h3>

        <p><a href="/general-questions">Frequently Asked Questions</a></p>

        <p><a href="/shipping-and-delivery-questions">Shipping &amp; Delivery</a></p>

        <p><a href="/return-questions">Returns</a></p>
        <!-- zfc autolink off -->
    </div>
</div>
<martmax-footer></martmax-footer>