h2 {
    margin-left: 1em;
}

h3 {
    margin-left: 3em;
}

h4 {
    margin-left: 5em;
}

h5 {
    margin-left: 7em;
}
/**************************************************************/
.mg-pd
{
    margin: 0;
    padding: 0;
}

.inp-height
{
    height: auto;
    border-radius: 0;
}

.father-con-fluid-pad
{
    padding-right: 5em;
    padding-left: 5em;
    background-color: white;
}

.a-nav-top
{
    color: #555;
    background: none;
    padding-right: 1em;
}
.a-nav
{
    color: #555;
    background: none;
    margin: .2em;
    
}
.a-nav:hover
{
    border: red solid 1px;
}
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

.height-btn
{
    height: 18px;
    padding: 0;
    border-radius: 0;
    
}

.check-form>btn-group
{
    margin-right: 1em;
}

.a-nav:hover
{
    color: #0097df;
    background: white;
}

.ul-first-colmn
{
    float: none;
}
#bottom-raw
{
    float: right;
    font-size: 12px;
}
.div-sortby
{
    padding-top: 1em;
    padding-bottom: 1em;
}
.span-sortby
{
    float: left;
}
.ul-sortby
{
    border: #0097df solid .5px;
    padding-top: .2em;
    padding-bottom: .2em;
    color: #555;
}
.ul-sortby>li
{
    padding-left: .5em;
    padding-right: .5em;
    border-right: #555 solid .1px;
}
.ul-sortby>li>a
{
    padding: 0;
    color: #555;
}
.ul-sortby>li>a:hover
{
    color: #db3236;
    background: none;
}
.div-check
{
    padding-bottom: 1em;
}
.panel-heading
{
    background: white;
}
.border-none
{
    border: none;
}
.border-brand-div
{
    border: #F4C20d solid .5px;
    margin-bottom: 2em;
}
.list-group
{
    padding: 1em;
}
.list-group >li
{
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}
.list-group >li:hover
{
    border: #F4C20d solid .1px;
    color: #F4C20d;
}
.box-botten{
    -webkit-box-shadow:none;
}
.tabs-left
{
    border-bottom: none;
}
/********************************************************filter number 2**************************************************/
div.scrollmenu {
    background-color: #F4C20d;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}
.glyphicon-ok:before {
    content: "\e013";
    color: #F4C20d;
}
.glyphicon-search:before {
    content: "\e003";
    color: #F4C20d;
}
.col-Brands
{
    padding-bottom: 1.5em;
}
.height-btn:hover
{
    background: white;
}
.height-btn:focus
{
    background: white;
    
}
.height-btn:active
{
    -webkit-box-shadow: 0;
    box-shadow: 0;
}
.btn-srch
{
    border-radius: 0;
}
.all-brand
{
    background: #F4C20d;
    text-align: center;
}
.btn-discount
{
    background: none;
    border-radius: 0;
    border: #F4C20d solid 1px;
}
.list-inline-botom
{
    margin-left: 0;
    border:#F4C20D solid 1px; 
    width: 70%;
}