/**
* Mustafa Omran m.omran@mqubits.com
*/
@import url('https://fonts.googleapis.com/css?family=Raleway:600');

/*general classes*/
*
{
    font-family: 'Raleway', sans-serif;
}

body 
{
    background-color: #F8F8F8;
}

.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

.gradient {
    background: white;
    background: -webkit-linear-gradient(left, #1b457c, #4492f7);
    background: -o-linear-gradient(right, #1b457c, #4492f7);
    background: -moz-linear-gradient(right, #1b457c, #4492f7);
    background: linear-gradient(to right, #1b457c, #4492f7);
}

.close-subscribe-btn {
    margin-right: -15px;
    margin-top: -15px;
}

.plans {
    background: url('../images/martmax.png') no-repeat -949px -6442px;
    width: 399px;
    height: 143px;
}
/* Extra small devices (phones, less than 768px) / / No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) *//* @media (min-width: @screen-sm-min) { ... }*/

/* Medium devices (desktops, 992px and up) *//* @media (min-width: @screen-md-min) { ... }*/

/* Large devices (large desktops, 1200px and up) *//* @media (min-width: @screen-lg-min) { ... }*/
html {
  font-size: 14px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
     html {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
     html {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
     html {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px){
     html {
    font-size: 28px;
  }
}
