<!-- new -->

<!-- 
<div class="col-sm-3" *ngIf="coupon && coupon !== 'undefined' && coupon.code">
    <p>Coupon code</p>
    <ul class="list list-unstyled list-inline">
        <li>
            <span class="code" [innerHTML]="coupon.code" id="cpy-value"></span>
        </li>
        <li>
            <button class="btn btn-info cpy" id="cpy-btn" (click)="copyToClipboard()"> Copy</button>
        </li>
    </ul>
</div>

<div class="col-sm-3 text-center time-box" *ngIf="coupon && coupon !== 'undefined' && coupon.code">
    <p>Harry up !</p>
    <div class="time" [innerHTML]="countdown" id="timer">
        
    </div>
    <div>
        <span>Hours :</span>
        <span>Minutes :</span>
        <span>Seconds</span>
    </div>
</div>
-->
<!-- coupon -->
<div class="container-fluid remove padding-0">
    <img class="img-responsive coupon" src="../../../../../assets/images/banners/coupon-Banner.png">
    <span class="clickable pull-right" data-effect="fadeOut"><i class="fa fa-times"></i></span>
</div>