.coupon {
    width: 100%;
    height: 80px;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .coupon {
        height: 50px;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .coupon {
        height: 65px;
    }
}

.clickable {
    padding: 5px 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    position:absolute;
    float: right;
    top: 0px;
    right: 0px;
    font-size: small;
    background-color:#373737;
    border-bottom-right-radius:50%;
    border-bottom-left-radius: 50%;
}

.remove
{
    position: relative;
}

.padding-0
{
    padding: 0;
}