<!-- subscribe pop up-->
<div class="w3-container">
    <div id="subscribe" class="w3-modal">
        <div class="w3-modal-content w3-center w3-animate-zoom w3-card-4">
            <div class="w3-container w3-center">
                <span>
                         <a   (click)="close($event)" class="w3-btn w3-display-topright w3-circle gradien w3-large w3-text-white close-subscribe-btn">&times;</a>
                    </span>
                <p class="w3-xxlarge">Subscribe for news letter</p>
                <p class="w3-text-grey w3-large">and get more offers daily</p>
                <div class="w3-bar">
                    <form>
                        <div class="w3-bar w3-round-large w3-large">
                            <input type="text" class="w3-bar-item w3-input w3-light-grey" placeholder="place your mail here">
                            <span class="w3-bar-item w3-light-grey w3-text-grey w3-border-left w3-border-grey"><i class="fa fa-female" aria-hidden="true"></i></span>
                            <span class="w3-bar-item w3-light-grey w3-text-blue w3-border-left w3-border-grey"><i class="fa fa-male" aria-hidden="true"></i></span>
                        </div>
                    </form>
                </div>
            </div>
            <img src="../../../../../assets/images/logo.png" alt="image">
        </div>
    </div>
</div>