.date-coupon
{
    color: #ff5400;
}

.track-btn-white
{
    color: white;
    background-color: #F4C20D;
}

.menu-label
{
    color: black;
    font-weight: bolder;
}

#login-btn, .sign-up 
{
    color: white;
    font-weight: bold;
    background-color: #f4c20d;
    border: none;
    border-radius:0; 
}

#login-btn:hover, .sign-up:hover
{
    background-color: #FED028;
} 

#track-btn
{
    color: white;
    font-weight: bold;
    background-color: #f4c20d;
    border: none;
    border-radius:0; 
}

#track-btn:hover
{
    background-color: #FED028;
}


.track-btn
{
    width: 10em;
}

.cart
{
    font-size: 1.1em;
    color: white;
}
.my-cart-text
{
    height: 1em;
    
}
.cart:hover
{
    color: white;
}

a:hover
{
    color: black;
    background-color: white;
}

.middle-menu
{
    padding-top: 1em;
}

.middle-menu li, .account li
{
    font-size: small;
    padding-right: .5em;
    padding-left: .5em;
}


.pre-btn
{
    margin-top:-0.4em;
}

.profile
{
    border: white solid 1px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-left: 1em;
    font-size: small;
}

.navbar-nav > li > a
{
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    background: none;
    padding-right: .5em;
    color: #333;
    border-right: #b3b3b3 solid .3px;
    border-radius: 0;
}
.navbar-nav > li
{
    padding: 0;
    background: none;
    color: #333;
    border-radius: 0;
}

.nvbarheader
{
    margin: 0;
    padding: 0;
}
select
{
    background: none;
    border: none;
}
.help-lnk
{
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}
.conhdnav
{
    padding: 0;
    margin: 0;
    width: 100%;
}

.ul-nav-rt
{
    margin-right: 0;
}
.nvbarheader
{
    padding-bottom: .7em;
    padding-top: .7em;
    min-height: 0;
}
#navbar-rigght-id
{
    margin-right: 0;
}
.navbar-nav > li #help-lnk
{
    border-right: none;
}
@media(max-width:767px) {
     .offer-section>h6
    {
        float: none;
        margin-left: 30%;
    }
    .expire-in-col
    {
        padding-left: 30%;
    }
    .bcg
    {
        height: 3em;
    }
    .second-header
    {
        height: 3em;
    }
}

.container
{
    padding: 0;
}

.list-group-item
{
border: none;
padding: 0;
margin: 0;
}

#mo-list
{
    top: 2em;
    padding: 1em;
}

#mo-list li
{
    padding-bottom:1em;
    width:8em;
    font-size:meduim;
}

#mo-list li a
{
  padding-bottom: 1em;
}

#mo-list li a:hover
{
color: #2763CB;
}

.mo-cart-count
{
    font-size: small;
    background: #ff0000;
    color: #fff;
}

#mo-cart-icon
{
    font-size: large;
}

.coupon-txt
{
    color: #BC0821;
}

ul li a:hover
{
    color: #FCD316;
    cursor: pointer;
}