<!--
@author abdelazem eid <a.eid@mQuBits.com>
-->

<header id="top">
    <!-- first header-->
    <!--
    <div class="container-fluid" *ngIf="coupon && coupon !== 'undefined' && coupon.code">
        <div class="row">
            <div class="col-xs-12 col-sm-4 hidden-xs">
                <b>Expire in </b>
                <p class="date-coupon" [innerHTML]="countdown"></p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <p class="" [innerHTML]="coupon.code"></p>
                
            </div>
            <div class=" col-xs-12 col-sm-4 hidden-xs">
                <p class="center-block text-center">More about this offer</p>
            </div>
        </div>    
    </div-->

    <!-- second header -->
    <div class="container hidden-xs hidden-sm">
        <nav class="navbar nvbarheader">
            <div class="container conhdnav">
                <div class="navbar-header">
                    <select class="selectpicker show-tick">
                    <option>Egypt</option>
                </select>
                    <select class="">
                    <option>English</option>
                </select>
                </div>
                <ul class="nav navbar-nav navbar-right" id="navbar-rigght-id">
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">My Account<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="center-block"><a routerLink="/auth/login" routerLinkActive="active" class="center-block btn btn-primary track-btn"
                                    id="login-btn">Log in</a></li>
                            <li>
                                <h6 class="text-center center-block account-txt">New Customer</h6>
                            </li>
                            <li class="center-block"><a routerLink="/users/auth" routerLinkActive="active" class="center-block btn btn-primary track-btn"
                                    id="login-btn">Sign up</a></li>
                            <li>
                                <hr>
                            </li>
                            <li>
                                <h6 class="text-center center-block account-txt">Track your order</h6>
                            </li>
                            <li><input class="text-center form-control track-btn center-block" type="text" placeholder="oreder number"></li>
                            <li><input class="text-center form-control track-btn center-block" type="email" placeholder="your email"></li>
                            <li><a class="text-center btn track-btn center-block" id="track-btn">Track order</a></li>

                        </ul>
                    </li>
                    <li><a routerLink="/cart" routerLinkActive="active">Shopping Cart <span class="glyphicon glyphicon-shopping-cart"></span> </a></li>
                    <li class="contact-us"><a [routerLink]="['/contact-us']">Contact Us</a></li>
                    <li class="dropdown"><a class="dropdown-toggle help-lnk" id="help-lnk" data-toggle="dropdown" href="#">Help<span class="caret"></span></a>
                        <ul class="dropdown-menu list-group" id="mo-list">
                            <a routerLink="/home" routerLinkActive="active" class="list-group-item text-left">Quick guide</a>
                            <a routerLink="/home" routerLinkActive="active" class="list-group-item text-left">FAQ</a>
                            <a routerLink="/home" routerLinkActive="active" class="list-group-item text-left">Size Chart</a>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

