/* brands */
.more-brands
{
    padding: 1em;
}

.mo-brands-title
{
    color: #2D2D2D;
}

.more-txt
{
    color: red;
}

.more-txt:hover
{
    cursor: pointer;
}

.swiper-wrapper
{
height: 20em;
width: auto;
}

.swiper-slide
{
    height: 100px;
    width: 200px;
    border: 1px solid #F8F8F8;
    margin: 0;
}

.padding-0
{
padding: 0;
}

.margin-0
{
    margin: 0;
}

.brand-image
{
    margin: 0;
    height: 80px;
    width: 180px;
}

/* small devices*/
@media screen and (max-width: 39.9375em)
{
.contianer
{
    height:15em;
}    
}