<!-- top brands -->
<div class="container text-center" *ngIf="topbrands" style="background-color: white">
    <swiper [config]="config">
        <div class="swiper-wrapper row padding-0 margin-0" style="width:0">
            <div class=" col-lg-2  col-md-3 swiper-slide padding-0" *ngFor="let brand of topbrands">
                <a *ngIf="brand.slug" [routerLink]="['/brands', brand.slug]" (click)="setBrand(brand)">
                    <img *ngIf="brand.brand_image" [src]="brand.brand_image" [alt]="brand.slug" class="img-responsive center-block brand-image"/>
                </a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </swiper>
    <h6 class="pull-right"><a [routerLink]="['/brands']">View all brands</a></h6>
</div>
<div class="container">
<hr>
</div>
