<martmax-header></martmax-header>
<div class="container">
    <div class="size-chart">
        <h3>Men's Apparel</h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th class="th-dim" colspan="2"> Chest <i class="icon-question-sign"></i> </th>
                    <th class="th-dim" colspan="2"> Waist <i class="icon-question-sign"></i> </th>
                    <th class="th-dim" colspan="2"> Neck <i class="icon-question-sign"></i> </th>
                    <th class="th-dim" colspan="2"> Sleeve <i class="icon-question-sign"></i> </th>
                </tr>
                <tr>
                    <th class="th-unit">Centimeters</th>
                    <th class="th-unit">Inches</th>
                    <th class="th-unit">Centimeters</th>
                    <th class="th-unit">Inches</th>
                    <th class="th-unit">Centimeters</th>
                    <th class="th-unit">Inches</th>
                    <th class="th-unit">Centimeters</th>
                    <th class="th-unit">Inches</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> XS </td>
                    <td>76 - 81 (cm)</td>
                    <td>30" - 32"</td>
                    <td>61 - 66 (cm)</td>
                    <td>24" - 26"</td>
                    <td>33 - 34 (cm)</td>
                    <td>13" - 13.5"</td>
                    <td>79 - 81 (cm)</td>
                    <td>31" - 32"</td>
                </tr>
                <tr>
                    <td> S </td>
                    <td>86 - 91 (cm)</td>
                    <td>34" - 36"</td>
                    <td>71 - 76 (cm)</td>
                    <td>28" - 30"</td>
                    <td>36 - 37 (cm)</td>
                    <td>14" - 14.5"</td>
                    <td>81 - 84 (cm)</td>
                    <td>32" - 33"</td>
                </tr>
                <tr>
                    <td> M </td>
                    <td>97 - 102 (cm)</td>
                    <td>38" - 40"</td>
                    <td>81 - 86 (cm)</td>
                    <td>32" - 34"</td>
                    <td>38 - 39 (cm)</td>
                    <td>15" - 15.5"</td>
                    <td>84 - 86 (cm)</td>
                    <td>33" - 34"</td>
                </tr>
                <tr>
                    <td> L </td>
                    <td>107 - 112 (cm)</td>
                    <td>42" - 44"</td>
                    <td>91 - 97 (cm)</td>
                    <td>36" - 38"</td>
                    <td>41 - 42 (cm)</td>
                    <td>16" - 16.5"</td>
                    <td>86 - 89 (cm)</td>
                    <td>34" - 35"</td>
                </tr>
                <tr>
                    <td> XL </td>
                    <td>117 - 122 (cm)</td>
                    <td>46" - 48"</td>
                    <td>102 - 107 (cm)</td>
                    <td>40" - 42"</td>
                    <td>43 - 44 (cm)</td>
                    <td>17" - 17.5"</td>
                    <td>89 - 91 (cm)</td>
                    <td>35" - 36"</td>
                </tr>
                <tr>
                    <td> XXL </td>
                    <td>127 - 132 (cm)</td>
                    <td>50" - 52"</td>
                    <td>112 - 117 (cm)</td>
                    <td>44" - 46"</td>
                    <td>46 - 47 (cm)</td>
                    <td>18" - 18.5"</td>
                    <td>91 - 94 (cm)</td>
                    <td>36" - 37"</td>
                </tr>
                <tr>
                    <td> XXXL </td>
                    <td>137 - 142 (cm)</td>
                    <td>54" - 56"</td>
                    <td>122 - 127 (cm)</td>
                    <td>48" - 50"</td>
                    <td>48 - 50 (cm)</td>
                    <td>19" - 19.5"</td>
                    <td>94 - 97 (cm)</td>
                    <td>37" - 38"</td>
                </tr>
                <tr>
                    <td> XXXXL </td>
                    <td>147 - 152 (cm)</td>
                    <td>58" - 60"</td>
                    <td>132 - 137 (cm)</td>
                    <td>52" - 54"</td>
                    <td>51 - 52 (cm)</td>
                    <td>20" - 20.5"</td>
                    <td>97 - 99 (cm)</td>
                    <td>38" - 39"</td>
                </tr>
                <tr>
                    <td> XXXXXL </td>
                    <td>157 - 163 (cm)</td>
                    <td>62" - 64"</td>
                    <td>142 - 147 (cm)</td>
                    <td>56" - 58"</td>
                    <td>53 - 55 (cm)</td>
                    <td>21" - 21.5"</td>
                    <td>99 - 102 (cm)</td>
                    <td>39" - 40"</td>
                </tr>
            </tbody>
        </table>
        <div class="embedded-size-chart-diagram"> <img src="//d2ujdsqe3ri19m.cloudfront.net/a6c608deeb94/img/mens_sizing_diagram_600px.png?v=19"> </div>
    </div>
</div>
<div>
    <div class="size-chart">
        <h3>Women's Apparel</h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th class="th-dim" colspan="2"> Bust/Chest <i class="icon-question-sign"></i> </th>
                    <th class="th-dim" colspan="2"> Waist <i class="icon-question-sign"></i> </th>
                    <th class="th-dim" colspan="2"> Hip <i class="icon-question-sign"></i> </th>
                </tr>
                <tr>
                    <th class="th-unit">Centimeters</th>
                    <th class="th-unit">Inches</th>
                    <th class="th-unit">Centimeters</th>
                    <th class="th-unit">Inches</th>
                    <th class="th-unit">Centimeters</th>
                    <th class="th-unit">Inches</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> XXS </td>
                    <td>80 - 83 (cm)</td>
                    <td>31.5" - 32.5"</td>
                    <td>60 - 62 (cm)</td>
                    <td>23.5" - 24.5"</td>
                    <td>86 - 89 (cm)</td>
                    <td>34" - 35"</td>
                </tr>
                <tr>
                    <td> XS </td>
                    <td>83 - 85 (cm)</td>
                    <td>32.5" - 33.5"</td>
                    <td>62 - 65 (cm)</td>
                    <td>24.5" - 25.5"</td>
                    <td>89 - 91 (cm)</td>
                    <td>35" - 36"</td>
                </tr>
                <tr>
                    <td> S </td>
                    <td>85 - 88 (cm)</td>
                    <td>33.5" - 34.5"</td>
                    <td>65 - 67 (cm)</td>
                    <td>25.5" - 26.5"</td>
                    <td>91 - 94 (cm)</td>
                    <td>36" - 37"</td>
                </tr>
                <tr>
                    <td> M </td>
                    <td>90 - 93 (cm)</td>
                    <td>35.5" - 36.5"</td>
                    <td>70 - 72 (cm)</td>
                    <td>27.5" - 28.5"</td>
                    <td>97 - 99 (cm)</td>
                    <td>38" - 39"</td>
                </tr>
                <tr>
                    <td> L </td>
                    <td>97 - 100 (cm)</td>
                    <td>38" - 39.5"</td>
                    <td>76 - 80 (cm)</td>
                    <td>30" - 31.5"</td>
                    <td>103 - 107 (cm)</td>
                    <td>40.5" - 42"</td>
                </tr>
                <tr>
                    <td> XL </td>
                    <td>104 - 109 (cm)</td>
                    <td>41" - 43"</td>
                    <td>84 - 88 (cm)</td>
                    <td>33" - 34.5"</td>
                    <td>110 - 116 (cm)</td>
                    <td>43.5" - 45.5"</td>
                </tr>
                <tr>
                    <td> XXL </td>
                    <td>110 - 116 (cm)</td>
                    <td>43.5" - 45.5"</td>
                    <td>91 - 95 (cm)</td>
                    <td>36" - 37.5"</td>
                    <td>116 - 123 (cm)</td>
                    <td>45.5" - 48.5"</td>
                </tr>
            </tbody>
        </table>
        <div class="embedded-size-chart-diagram"> <img src="//d2ujdsqe3ri19m.cloudfront.net/a6c608deeb94/img/womens_sizing_diagram_600px.png?v=19"> </div>
    </div>
</div>
<div>
    <div class="size-chart">
        <h3>Boys' Apparel</h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th class="th-dim" colspan="2"> Height <i class="icon-question-sign"></i> </th>
                    <th class="th-dim" colspan="2"> Chest <i class="icon-question-sign"></i> </th>
                    <th class="th-dim" colspan="2"> Waist <i class="icon-question-sign"></i> </th>
                    <th class="th-dim" colspan="2"> Hip <i class="icon-question-sign"></i> </th>
                </tr>
                <tr>
                    <th class="th-unit">Centimeters</th>
                    <th class="th-unit">Inches</th>
                    <th class="th-unit">Centimeters</th>
                    <th class="th-unit">Inches</th>
                    <th class="th-unit">Centimeters</th>
                    <th class="th-unit">Inches</th>
                    <th class="th-unit">Centimeters</th>
                    <th class="th-unit">Inches</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 3-4 Years </td>
                    <td>97 - 104 (cm)</td>
                    <td>3'2" - 3'5"</td>
                    <td>53 - 56 (cm)</td>
                    <td>21" - 22"</td>
                    <td>55 - 56 (cm)</td>
                    <td>21.5" - 22"</td>
                    <td>56 - 58 (cm)</td>
                    <td>22" - 23"</td>
                </tr>
                <tr>
                    <td> 4-5 Years </td>
                    <td>104 - 112 (cm)</td>
                    <td>3'5" - 3'8"</td>
                    <td>56 - 58 (cm)</td>
                    <td>22" - 23"</td>
                    <td>56 - 57 (cm)</td>
                    <td>22" - 22.5"</td>
                    <td>58 - 61 (cm)</td>
                    <td>23" - 24"</td>
                </tr>
                <tr>
                    <td> 5-6 Years </td>
                    <td>112 - 118 (cm)</td>
                    <td>3'8" - 3'10"</td>
                    <td>58 - 61 (cm)</td>
                    <td>23" - 24"</td>
                    <td>57 - 58 (cm)</td>
                    <td>22.5" - 23"</td>
                    <td>61 - 64 (cm)</td>
                    <td>24" - 25"</td>
                </tr>
                <tr>
                    <td> 6-7 Years </td>
                    <td>118 - 126 (cm)</td>
                    <td>3'10" - 4'1"</td>
                    <td>61 - 65 (cm)</td>
                    <td>24" - 25.5"</td>
                    <td>58 - 60 (cm)</td>
                    <td>23" - 23.5"</td>
                    <td>64 - 67 (cm)</td>
                    <td>25" - 26.5"</td>
                </tr>
                <tr>
                    <td> 7-8 Years </td>
                    <td>126 - 132 (cm)</td>
                    <td>4'1" - 4'4"</td>
                    <td>65 - 67 (cm)</td>
                    <td>25.5" - 26.5"</td>
                    <td>60 - 62 (cm)</td>
                    <td>23.5" - 24.5"</td>
                    <td>67 - 70 (cm)</td>
                    <td>26.5" - 27.5"</td>
                </tr>
                <tr>
                    <td> 8-9 Years </td>
                    <td>132 - 141 (cm)</td>
                    <td>4'4" - 4'7"</td>
                    <td>67 - 70 (cm)</td>
                    <td>26.5" - 27.5"</td>
                    <td>62 - 65 (cm)</td>
                    <td>24.5" - 25.5"</td>
                    <td>70 - 74 (cm)</td>
                    <td>27.5" - 29"</td>
                </tr>
                <tr>
                    <td> 9-10 Years </td>
                    <td>141 - 149 (cm)</td>
                    <td>4'7" - 4'10"</td>
                    <td>70 - 72 (cm)</td>
                    <td>27.5" - 28.5"</td>
                    <td>65 - 67 (cm)</td>
                    <td>25.5" - 26.5"</td>
                    <td>74 - 77 (cm)</td>
                    <td>29" - 30.5"</td>
                </tr>
                <tr>
                    <td> 10-11 Years </td>
                    <td>149 - 156 (cm)</td>
                    <td>4'10" - 5'1"</td>
                    <td>72 - 77 (cm)</td>
                    <td>28.5" - 30.5"</td>
                    <td>67 - 71 (cm)</td>
                    <td>26.5" - 28"</td>
                    <td>77 - 81 (cm)</td>
                    <td>30.5" - 32"</td>
                </tr>
                <tr>
                    <td> 11-12 Years </td>
                    <td>156 - 163 (cm)</td>
                    <td>5'1" - 5'4"</td>
                    <td>77 - 81 (cm)</td>
                    <td>30.5" - 32"</td>
                    <td>71 - 75 (cm)</td>
                    <td>28" - 29.5"</td>
                    <td>81 - 85 (cm)</td>
                    <td>32" - 33.5"</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <div class="size-chart">
        <h3>Girls' Apparel</h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th class="th-dim" colspan="2"> Height <i class="icon-question-sign"></i> </th>
                    <th class="th-dim" colspan="2"> Chest <i class="icon-question-sign"></i> </th>
                    <th class="th-dim" colspan="2"> Waist <i class="icon-question-sign"></i> </th>
                    <th class="th-dim" colspan="2"> Hip <i class="icon-question-sign"></i> </th>
                </tr>
                <tr>
                    <th class="th-unit">Centimeters</th>
                    <th class="th-unit">Inches</th>
                    <th class="th-unit">Centimeters</th>
                    <th class="th-unit">Inches</th>
                    <th class="th-unit">Centimeters</th>
                    <th class="th-unit">Inches</th>
                    <th class="th-unit">Centimeters</th>
                    <th class="th-unit">Inches</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 3-4 Years </td>
                    <td>97 - 104 (cm)</td>
                    <td>3'2" - 3'5"</td>
                    <td>53 - 56 (cm)</td>
                    <td>21" - 22"</td>
                    <td>55 - 56 (cm)</td>
                    <td>21.5" - 22"</td>
                    <td>56 - 58 (cm)</td>
                    <td>22" - 23"</td>
                </tr>
                <tr>
                    <td> 4-5 Years </td>
                    <td>104 - 112 (cm)</td>
                    <td>3'5" - 3'8"</td>
                    <td>56 - 58 (cm)</td>
                    <td>22" - 23"</td>
                    <td>56 - 57 (cm)</td>
                    <td>22" - 22.5"</td>
                    <td>58 - 61 (cm)</td>
                    <td>23" - 24"</td>
                </tr>
                <tr>
                    <td> 5-6 Years </td>
                    <td>112 - 118 (cm)</td>
                    <td>3'8" - 3'10"</td>
                    <td>58 - 61 (cm)</td>
                    <td>23" - 24"</td>
                    <td>57 - 58 (cm)</td>
                    <td>22.5" - 23"</td>
                    <td>61 - 64 (cm)</td>
                    <td>24" - 25"</td>
                </tr>
                <tr>
                    <td> 6-7 Years </td>
                    <td>118 - 128 (cm)</td>
                    <td>3'10" - 4'2"</td>
                    <td>61 - 66 (cm)</td>
                    <td>24" - 26"</td>
                    <td>58 - 60 (cm)</td>
                    <td>23" - 23.5"</td>
                    <td>64 - 70 (cm)</td>
                    <td>25" - 27.5"</td>
                </tr>
                <tr>
                    <td> 7-8 Years </td>
                    <td>128 - 133 (cm)</td>
                    <td>4'2" - 4'4"</td>
                    <td>66 - 69 (cm)</td>
                    <td>26" - 27"</td>
                    <td>60 - 62 (cm)</td>
                    <td>23.5" - 24.5"</td>
                    <td>70 - 72 (cm)</td>
                    <td>27.5" - 28.5"</td>
                </tr>
                <tr>
                    <td> 8-9 Years </td>
                    <td>133 - 140 (cm)</td>
                    <td>4'4" - 4'7"</td>
                    <td>69 - 72 (cm)</td>
                    <td>27" - 28.5"</td>
                    <td>62 - 64 (cm)</td>
                    <td>24.5" - 25"</td>
                    <td>72 - 76 (cm)</td>
                    <td>28.5" - 30"</td>
                </tr>
                <tr>
                    <td> 9-10 Years </td>
                    <td>140 - 147 (cm)</td>
                    <td>4'7" - 4'10"</td>
                    <td>72 - 76 (cm)</td>
                    <td>28.5" - 30"</td>
                    <td>64 - 66 (cm)</td>
                    <td>25" - 26"</td>
                    <td>76 - 81 (cm)</td>
                    <td>30" - 32"</td>
                </tr>
                <tr>
                    <td> 10-11 Years </td>
                    <td>147 - 155 (cm)</td>
                    <td>4'10" - 5'1"</td>
                    <td>76 - 80 (cm)</td>
                    <td>30" - 31.5"</td>
                    <td>66 - 71 (cm)</td>
                    <td>26" - 28"</td>
                    <td>81 - 86 (cm)</td>
                    <td>32" - 34"</td>
                </tr>
                <tr>
                    <td> 11-12 Years </td>
                    <td>155 - 159 (cm)</td>
                    <td>5'1" - 5'2"</td>
                    <td>80 - 85 (cm)</td>
                    <td>31.5" - 33.5"</td>
                    <td>71 - 76 (cm)</td>
                    <td>28" - 30"</td>
                    <td>86 - 91 (cm)</td>
                    <td>34" - 36"</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <div class="size-chart">
        <h3>Infants' Apparel</h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th class="th-dim" colspan="2"> Height <i class="icon-question-sign"></i> </th>
                    <th class="th-dim" colspan="2"> Chest <i class="icon-question-sign"></i> </th>
                    <th class="th-dim" colspan="2"> Waist <i class="icon-question-sign"></i> </th>
                </tr>
                <tr>
                    <th class="th-unit">Centimeters</th>
                    <th class="th-unit">Inches</th>
                    <th class="th-unit">Centimeters</th>
                    <th class="th-unit">Inches</th>
                    <th class="th-unit">Centimeters</th>
                    <th class="th-unit">Inches</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 6-9m </td>
                    <td>69 - 74 (cm)</td>
                    <td>2'3" - 2'5"</td>
                    <td>46 - 47 (cm)</td>
                    <td>18" - 18.5"</td>
                    <td>47 - 48 (cm)</td>
                    <td>18.5" - 19"</td>
                </tr>
                <tr>
                    <td> 9-12m </td>
                    <td>74 - 77 (cm)</td>
                    <td>2'5" - 2'6"</td>
                    <td>47 - 48 (cm)</td>
                    <td>18.5" - 19"</td>
                    <td>48 - 50 (cm)</td>
                    <td>19" - 19.5"</td>
                </tr>
                <tr>
                    <td> 12-18m </td>
                    <td>77 - 81 (cm)</td>
                    <td>2'6" - 2'8"</td>
                    <td>48 - 50 (cm)</td>
                    <td>19" - 19.5"</td>
                    <td>50 - 51 (cm)</td>
                    <td>19.5" - 20"</td>
                </tr>
                <tr>
                    <td> 18-24m </td>
                    <td>81 - 85 (cm)</td>
                    <td>2'8" - 2'9"</td>
                    <td>50 - 51 (cm)</td>
                    <td>19.5" - 20"</td>
                    <td>51 - 52 (cm)</td>
                    <td>20" - 20.5"</td>
                </tr>
                <tr>
                    <td> 2t </td>
                    <td>85 - 89 (cm)</td>
                    <td>2'9" - 2'11"</td>
                    <td>51 - 52 (cm)</td>
                    <td>20" - 20.5"</td>
                    <td>52 - 53 (cm)</td>
                    <td>20.5" - 21"</td>
                </tr>
                <tr>
                    <td> 3t </td>
                    <td>89 - 97 (cm)</td>
                    <td>2'11" - 3'2"</td>
                    <td>52 - 53 (cm)</td>
                    <td>20.5" - 21"</td>
                    <td>53 - 55 (cm)</td>
                    <td>21" - 21.5"</td>
                </tr>
                <tr>
                    <td> 4t </td>
                    <td>97 - 104 (cm)</td>
                    <td>3'2" - 3'5"</td>
                    <td>53 - 56 (cm)</td>
                    <td>21" - 22"</td>
                    <td>55 - 56 (cm)</td>
                    <td>21.5" - 22"</td>
                </tr>
                <tr>
                    <td> 5t </td>
                    <td>104 - 112 (cm)</td>
                    <td>3'5" - 3'8"</td>
                    <td>56 - 58 (cm)</td>
                    <td>22" - 23"</td>
                    <td>56 - 57 (cm)</td>
                    <td>22" - 22.5"</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <div class="size-chart">
        <h3>Men's Suits</h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th class="th-dim" colspan="2"> Chest <i class="icon-question-sign"></i> </th>
                    <th class="th-dim" colspan="2"> Height <i class="icon-question-sign"></i> </th>
                </tr>
                <tr>
                    <th class="th-unit">Centimeters</th>
                    <th class="th-unit">Inches</th>
                    <th class="th-unit">Centimeters</th>
                    <th class="th-unit">Inches</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 36 Short </td>
                    <td>89 - 94 (cm)</td>
                    <td>35.0" - 37.0"</td>
                    <td>163 - 171 (cm)</td>
                    <td>5'4" - 5'7"</td>
                </tr>
                <tr>
                    <td> 38 Short </td>
                    <td>94 - 99 (cm)</td>
                    <td>37.0" - 39.0"</td>
                    <td>163 - 171 (cm)</td>
                    <td>5'4" - 5'7"</td>
                </tr>
                <tr>
                    <td> 40 Short </td>
                    <td>99 - 104 (cm)</td>
                    <td>39.0" - 41.0"</td>
                    <td>163 - 171 (cm)</td>
                    <td>5'4" - 5'7"</td>
                </tr>
                <tr>
                    <td> 42 Short </td>
                    <td>104 - 109 (cm)</td>
                    <td>41.0" - 43.0"</td>
                    <td>163 - 171 (cm)</td>
                    <td>5'4" - 5'7"</td>
                </tr>
                <tr>
                    <td> 44 Short </td>
                    <td>109 - 114 (cm)</td>
                    <td>43.0" - 45.0"</td>
                    <td>163 - 171 (cm)</td>
                    <td>5'4" - 5'7"</td>
                </tr>
                <tr>
                    <td> 46 Short </td>
                    <td>114 - 119 (cm)</td>
                    <td>45.0" - 47.0"</td>
                    <td>163 - 171 (cm)</td>
                    <td>5'4" - 5'7"</td>
                </tr>
                <tr>
                    <td> 48 Short </td>
                    <td>119 - 124 (cm)</td>
                    <td>47.0" - 49.0"</td>
                    <td>163 - 171 (cm)</td>
                    <td>5'4" - 5'7"</td>
                </tr>
                <tr>
                    <td> 50 Short </td>
                    <td>124 - 130 (cm)</td>
                    <td>49.0" - 51.0"</td>
                    <td>163 - 171 (cm)</td>
                    <td>5'4" - 5'7"</td>
                </tr>
                <tr>
                    <td> 34 Regular </td>
                    <td>84 - 89 (cm)</td>
                    <td>33.0" - 35.0"</td>
                    <td>173 - 189 (cm)</td>
                    <td>5'8" - 6'2"</td>
                </tr>
                <tr>
                    <td> 36 Regular </td>
                    <td>89 - 94 (cm)</td>
                    <td>35.0" - 37.0"</td>
                    <td>173 - 189 (cm)</td>
                    <td>5'8" - 6'2"</td>
                </tr>
                <tr>
                    <td> 38 Regular </td>
                    <td>94 - 99 (cm)</td>
                    <td>37.0" - 39.0"</td>
                    <td>173 - 189 (cm)</td>
                    <td>5'8" - 6'2"</td>
                </tr>
                <tr>
                    <td> 40 Regular </td>
                    <td>99 - 104 (cm)</td>
                    <td>39.0" - 41.0"</td>
                    <td>173 - 189 (cm)</td>
                    <td>5'8" - 6'2"</td>
                </tr>
                <tr>
                    <td> 42 Regular </td>
                    <td>104 - 109 (cm)</td>
                    <td>41.0" - 43.0"</td>
                    <td>173 - 189 (cm)</td>
                    <td>5'8" - 6'2"</td>
                </tr>
                <tr>
                    <td> 44 Regular </td>
                    <td>109 - 114 (cm)</td>
                    <td>43.0" - 45.0"</td>
                    <td>173 - 189 (cm)</td>
                    <td>5'8" - 6'2"</td>
                </tr>
                <tr>
                    <td> 46 Regular </td>
                    <td>114 - 119 (cm)</td>
                    <td>45.0" - 47.0"</td>
                    <td>173 - 189 (cm)</td>
                    <td>5'8" - 6'2"</td>
                </tr>
                <tr>
                    <td> 48 Regular </td>
                    <td>119 - 124 (cm)</td>
                    <td>47.0" - 49.0"</td>
                    <td>173 - 189 (cm)</td>
                    <td>5'8" - 6'2"</td>
                </tr>
                <tr>
                    <td> 50 Regular </td>
                    <td>124 - 130 (cm)</td>
                    <td>49.0" - 51.0"</td>
                    <td>173 - 189 (cm)</td>
                    <td>5'8" - 6'2"</td>
                </tr>
                <tr>
                    <td> 52 Regular </td>
                    <td>130 - 135 (cm)</td>
                    <td>51.0" - 53.0"</td>
                    <td>173 - 189 (cm)</td>
                    <td>5'8" - 6'2"</td>
                </tr>
                <tr>
                    <td> 54 Regular </td>
                    <td>135 - 140 (cm)</td>
                    <td>53.0" - 55.0"</td>
                    <td>173 - 189 (cm)</td>
                    <td>5'8" - 6'2"</td>
                </tr>
                <tr>
                    <td> 56 Regular </td>
                    <td>140 - 145 (cm)</td>
                    <td>55.0" - 57.0"</td>
                    <td>173 - 189 (cm)</td>
                    <td>5'8" - 6'2"</td>
                </tr>
                <tr>
                    <td> 58 Regular </td>
                    <td>145 - 150 (cm)</td>
                    <td>57.0" - 59.0"</td>
                    <td>173 - 189 (cm)</td>
                    <td>5'8" - 6'2"</td>
                </tr>
                <tr>
                    <td> 60 Regular </td>
                    <td>150 - 155 (cm)</td>
                    <td>59.0" - 61.0"</td>
                    <td>173 - 189 (cm)</td>
                    <td>5'8" - 6'2"</td>
                </tr>
                <tr>
                    <td> 62 Regular </td>
                    <td>155 - 160 (cm)</td>
                    <td>61.0" - 63.0"</td>
                    <td>173 - 189 (cm)</td>
                    <td>5'8" - 6'2"</td>
                </tr>
                <tr>
                    <td> 38 Long </td>
                    <td>94 - 99 (cm)</td>
                    <td>37.0" - 39.0"</td>
                    <td>191 - 197 (cm)</td>
                    <td>6'3" - 6'5"</td>
                </tr>
                <tr>
                    <td> 40 Long </td>
                    <td>99 - 104 (cm)</td>
                    <td>39.0" - 41.0"</td>
                    <td>191 - 197 (cm)</td>
                    <td>6'3" - 6'5"</td>
                </tr>
                <tr>
                    <td> 42 Long </td>
                    <td>104 - 109 (cm)</td>
                    <td>41.0" - 43.0"</td>
                    <td>191 - 197 (cm)</td>
                    <td>6'3" - 6'5"</td>
                </tr>
                <tr>
                    <td> 44 Long </td>
                    <td>109 - 114 (cm)</td>
                    <td>43.0" - 45.0"</td>
                    <td>191 - 197 (cm)</td>
                    <td>6'3" - 6'5"</td>
                </tr>
                <tr>
                    <td> 46 Long </td>
                    <td>114 - 119 (cm)</td>
                    <td>45.0" - 47.0"</td>
                    <td>191 - 197 (cm)</td>
                    <td>6'3" - 6'5"</td>
                </tr>
                <tr>
                    <td> 48 Long </td>
                    <td>119 - 124 (cm)</td>
                    <td>47.0" - 49.0"</td>
                    <td>191 - 197 (cm)</td>
                    <td>6'3" - 6'5"</td>
                </tr>
                <tr>
                    <td> 50 Long </td>
                    <td>124 - 130 (cm)</td>
                    <td>49.0" - 51.0"</td>
                    <td>191 - 197 (cm)</td>
                    <td>6'3" - 6'5"</td>
                </tr>
                <tr>
                    <td> 52 Long </td>
                    <td>130 - 135 (cm)</td>
                    <td>51.0" - 53.0"</td>
                    <td>191 - 197 (cm)</td>
                    <td>6'3" - 6'5"</td>
                </tr>
                <tr>
                    <td> 54 Long </td>
                    <td>135 - 140 (cm)</td>
                    <td>53.0" - 55.0"</td>
                    <td>191 - 197 (cm)</td>
                    <td>6'3" - 6'5"</td>
                </tr>
                <tr>
                    <td> 56 Long </td>
                    <td>140 - 145 (cm)</td>
                    <td>55.0" - 57.0"</td>
                    <td>191 - 197 (cm)</td>
                    <td>6'3" - 6'5"</td>
                </tr>
                <tr>
                    <td> 58 Long </td>
                    <td>145 - 150 (cm)</td>
                    <td>57.0" - 59.0"</td>
                    <td>191 - 197 (cm)</td>
                    <td>6'3" - 6'5"</td>
                </tr>
                <tr>
                    <td> 60 Long </td>
                    <td>150 - 155 (cm)</td>
                    <td>59.0" - 61.0"</td>
                    <td>191 - 197 (cm)</td>
                    <td>6'3" - 6'5"</td>
                </tr>
                <tr>
                    <td> 62 Long </td>
                    <td>155 - 160 (cm)</td>
                    <td>61.0" - 63.0"</td>
                    <td>191 - 197 (cm)</td>
                    <td>6'3" - 6'5"</td>
                </tr>
                <tr>
                    <td> 38 Extra Long </td>
                    <td>94 - 99 (cm)</td>
                    <td>37.0" - 39.0"</td>
                    <td>198 - 216 (cm)</td>
                    <td>6'6" - 7'1"</td>
                </tr>
                <tr>
                    <td> 40 Extra Long </td>
                    <td>99 - 104 (cm)</td>
                    <td>39.0" - 41.0"</td>
                    <td>198 - 216 (cm)</td>
                    <td>6'6" - 7'1"</td>
                </tr>
                <tr>
                    <td> 42 Extra Long </td>
                    <td>104 - 109 (cm)</td>
                    <td>41.0" - 43.0"</td>
                    <td>198 - 216 (cm)</td>
                    <td>6'6" - 7'1"</td>
                </tr>
                <tr>
                    <td> 44 Extra Long </td>
                    <td>109 - 114 (cm)</td>
                    <td>43.0" - 45.0"</td>
                    <td>198 - 216 (cm)</td>
                    <td>6'6" - 7'1"</td>
                </tr>
                <tr>
                    <td> 46 Extra Long </td>
                    <td>114 - 119 (cm)</td>
                    <td>45.0" - 47.0"</td>
                    <td>198 - 216 (cm)</td>
                    <td>6'6" - 7'1"</td>
                </tr>
                <tr>
                    <td> 48 Extra Long </td>
                    <td>119 - 124 (cm)</td>
                    <td>47.0" - 49.0"</td>
                    <td>198 - 216 (cm)</td>
                    <td>6'6" - 7'1"</td>
                </tr>
                <tr>
                    <td> 50 Extra Long </td>
                    <td>124 - 130 (cm)</td>
                    <td>49.0" - 51.0"</td>
                    <td>198 - 216 (cm)</td>
                    <td>6'6" - 7'1"</td>
                </tr>
                <tr>
                    <td> 52 Extra Long </td>
                    <td>130 - 135 (cm)</td>
                    <td>51.0" - 53.0"</td>
                    <td>198 - 216 (cm)</td>
                    <td>6'6" - 7'1"</td>
                </tr>
                <tr>
                    <td> 54 Extra Long </td>
                    <td>135 - 140 (cm)</td>
                    <td>53.0" - 55.0"</td>
                    <td>198 - 216 (cm)</td>
                    <td>6'6" - 7'1"</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <div class="size-chart">
        <h3>Men's Shoe Size </h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="th"> US </th>
                    <th class="th"> European </th>
                    <th class="th"> Inches </th>
                    <th class="th"> Centimeters </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>6</td>
                    <td>39</td>
                    <td>9.25"</td>
                    <td>23.5 (cm)</td>
                </tr>
                <tr>
                    <td>6.5</td>
                    <td>39</td>
                    <td>9.5"</td>
                    <td>24.1 (cm)</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>40</td>
                    <td>9.625"</td>
                    <td>24.4 (cm)</td>
                </tr>
                <tr>
                    <td>7.5</td>
                    <td>40 - 41</td>
                    <td>9.75"</td>
                    <td>24.8 (cm)</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>41</td>
                    <td>9.9375"</td>
                    <td>25.4 (cm)</td>
                </tr>
                <tr>
                    <td>8.5</td>
                    <td>41 - 42</td>
                    <td>10.125"</td>
                    <td>25.7 (cm)</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>42</td>
                    <td>10.25"</td>
                    <td>26 (cm)</td>
                </tr>
                <tr>
                    <td>9.5</td>
                    <td>42 - 43</td>
                    <td>10.4375"</td>
                    <td>26.7 (cm)</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>43</td>
                    <td>10.5625"</td>
                    <td>27 (cm)</td>
                </tr>
                <tr>
                    <td>10.5</td>
                    <td>43 - 44</td>
                    <td>10.75"</td>
                    <td>27.3 (cm)</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>44</td>
                    <td>10.9375"</td>
                    <td>27.9 (cm)</td>
                </tr>
                <tr>
                    <td>11.5</td>
                    <td>44 - 45</td>
                    <td>11.125"</td>
                    <td>28.3 (cm)</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>45</td>
                    <td>11.25"</td>
                    <td>28.6 (cm)</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>46</td>
                    <td>11.5625"</td>
                    <td>29.4 (cm)</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>47</td>
                    <td>11.875"</td>
                    <td>30.2 (cm)</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>48</td>
                    <td>12.1875"</td>
                    <td>31 (cm)</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>49</td>
                    <td>12.5"</td>
                    <td>31.8 (cm)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <div class="size-chart">
        <h3>Women's Shoe Size </h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="th"> US </th>
                    <th class="th"> European </th>
                    <th class="th"> Inches </th>
                    <th class="th"> Centimeters </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>4</td>
                    <td>35</td>
                    <td>8.1875"</td>
                    <td>20.8 (cm)</td>
                </tr>
                <tr>
                    <td>4.5</td>
                    <td>35</td>
                    <td>8.375"</td>
                    <td>21.3 (cm)</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>35 - 36</td>
                    <td>8.5"</td>
                    <td>21.6 (cm)</td>
                </tr>
                <tr>
                    <td>5.5</td>
                    <td>36</td>
                    <td>8.75"</td>
                    <td>22.2 (cm)</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>36 - 37</td>
                    <td>8.875"</td>
                    <td>22.5 (cm)</td>
                </tr>
                <tr>
                    <td>6.5</td>
                    <td>37</td>
                    <td>9.0625"</td>
                    <td>23 (cm)</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>37 - 38</td>
                    <td>9.25"</td>
                    <td>23.5 (cm)</td>
                </tr>
                <tr>
                    <td>7.5</td>
                    <td>38</td>
                    <td>9.375"</td>
                    <td>23.8 (cm)</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>38 - 39</td>
                    <td>9.5"</td>
                    <td>24.1 (cm)</td>
                </tr>
                <tr>
                    <td>8.5</td>
                    <td>39</td>
                    <td>9.6875"</td>
                    <td>24.6 (cm)</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>39 - 40</td>
                    <td>9.875"</td>
                    <td>25.1 (cm)</td>
                </tr>
                <tr>
                    <td>9.5</td>
                    <td>40</td>
                    <td>10"</td>
                    <td>25.4 (cm)</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>40 - 41</td>
                    <td>10.1875"</td>
                    <td>25.9 (cm)</td>
                </tr>
                <tr>
                    <td>10.5</td>
                    <td>41</td>
                    <td>10.3125"</td>
                    <td>26.2 (cm)</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>41 - 42</td>
                    <td>10.5"</td>
                    <td>26.7 (cm)</td>
                </tr>
                <tr>
                    <td>11.5</td>
                    <td>42</td>
                    <td>10.6875"</td>
                    <td>27.1 (cm)</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>42 - 43</td>
                    <td>10.875"</td>
                    <td>27.6 (cm)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <div class="size-chart">
        <h3>Big Kids' Shoe Size <i class="icon-question-sign" rel="tooltip" data-original-title="7 - 12 years old"></i> </h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="th"> US </th>
                    <th class="th"> European </th>
                    <th class="th"> Inches </th>
                    <th class="th"> Centimeters </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3.5</td>
                    <td>35</td>
                    <td>8.625"</td>
                    <td>21.9 (cm)</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>36</td>
                    <td>8.75"</td>
                    <td>22.2 (cm)</td>
                </tr>
                <tr>
                    <td>4.5</td>
                    <td>36</td>
                    <td>9"</td>
                    <td>22.9 (cm)</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>37</td>
                    <td>9.125"</td>
                    <td>23.2 (cm)</td>
                </tr>
                <tr>
                    <td>5.5</td>
                    <td>37</td>
                    <td>9.25"</td>
                    <td>23.5 (cm)</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>38</td>
                    <td>9.5"</td>
                    <td>24.1 (cm)</td>
                </tr>
                <tr>
                    <td>6.5</td>
                    <td>38</td>
                    <td>9.625"</td>
                    <td>24.4 (cm)</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>39</td>
                    <td>9.75"</td>
                    <td>24.8 (cm)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <div class="size-chart">
        <h3>Little Kids' Shoe Size <i class="icon-question-sign" rel="tooltip" data-original-title="4 - 7 years old"></i> </h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="th"> US </th>
                    <th class="th"> European </th>
                    <th class="th"> Inches </th>
                    <th class="th"> Centimeters </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>10.5</td>
                    <td>27</td>
                    <td>6.625"</td>
                    <td>16.8 (cm)</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>28</td>
                    <td>6.75"</td>
                    <td>17.1 (cm)</td>
                </tr>
                <tr>
                    <td>11.5</td>
                    <td>29</td>
                    <td>7"</td>
                    <td>17.8 (cm)</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>30</td>
                    <td>7.125"</td>
                    <td>18.1 (cm)</td>
                </tr>
                <tr>
                    <td>12.5</td>
                    <td>30</td>
                    <td>7.25"</td>
                    <td>18.4 (cm)</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>31</td>
                    <td>7.5"</td>
                    <td>19.1 (cm)</td>
                </tr>
                <tr>
                    <td>13.5</td>
                    <td>31</td>
                    <td>7.625"</td>
                    <td>19.4 (cm)</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>32</td>
                    <td>7.75"</td>
                    <td>19.7 (cm)</td>
                </tr>
                <tr>
                    <td>1.5</td>
                    <td>33</td>
                    <td>8"</td>
                    <td>20.3 (cm)</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>33</td>
                    <td>8.125"</td>
                    <td>20.6 (cm)</td>
                </tr>
                <tr>
                    <td>2.5</td>
                    <td>34</td>
                    <td>8.25"</td>
                    <td>21 (cm)</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>34</td>
                    <td>8.5"</td>
                    <td>21.6 (cm)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <div class="size-chart">
        <h3>Toddlers' Shoe Size <i class="icon-question-sign" rel="tooltip" data-original-title="9 months - 4 years old"></i> </h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="th"> US </th>
                    <th class="th"> European </th>
                    <th class="th"> Inches </th>
                    <th class="th"> Centimeters </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3.5</td>
                    <td>19</td>
                    <td>4.25"</td>
                    <td>10.8 (cm)</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>19</td>
                    <td>4.5"</td>
                    <td>11.4 (cm)</td>
                </tr>
                <tr>
                    <td>4.5</td>
                    <td>20</td>
                    <td>4.625"</td>
                    <td>11.7 (cm)</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>20</td>
                    <td>4.75"</td>
                    <td>12.1 (cm)</td>
                </tr>
                <tr>
                    <td>5.5</td>
                    <td>21</td>
                    <td>5"</td>
                    <td>12.7 (cm)</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>22</td>
                    <td>5.125"</td>
                    <td>13 (cm)</td>
                </tr>
                <tr>
                    <td>6.5</td>
                    <td>22</td>
                    <td>5.25"</td>
                    <td>13.3 (cm)</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>23</td>
                    <td>5.5"</td>
                    <td>14 (cm)</td>
                </tr>
                <tr>
                    <td>7.5</td>
                    <td>23</td>
                    <td>5.625"</td>
                    <td>14.3 (cm)</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>24</td>
                    <td>5.75"</td>
                    <td>14.6 (cm)</td>
                </tr>
                <tr>
                    <td>8.5</td>
                    <td>25</td>
                    <td>6"</td>
                    <td>15.2 (cm)</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>25</td>
                    <td>6.125"</td>
                    <td>15.6 (cm)</td>
                </tr>
                <tr>
                    <td>9.5</td>
                    <td>26</td>
                    <td>6.25"</td>
                    <td>15.9 (cm)</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>27</td>
                    <td>6.5"</td>
                    <td>16.5 (cm)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <div class="size-chart">
        <h3>Infants' Shoe Size <i class="icon-question-sign" rel="tooltip" data-original-title="0 - 9 months old"></i> </h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="th"> US </th>
                    <th class="th"> European </th>
                    <th class="th"> Inches </th>
                    <th class="th"> Centimeters </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>15</td>
                    <td>3.125"</td>
                    <td>7.9 (cm)</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>16</td>
                    <td>3.5"</td>
                    <td>8.9 (cm)</td>
                </tr>
                <tr>
                    <td>1.5</td>
                    <td>17</td>
                    <td>3.625"</td>
                    <td>9.2 (cm)</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>17</td>
                    <td>3.75"</td>
                    <td>9.5 (cm)</td>
                </tr>
                <tr>
                    <td>2.5</td>
                    <td>18</td>
                    <td>4"</td>
                    <td>10.2 (cm)</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>18</td>
                    <td>4.125"</td>
                    <td>10.5 (cm)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<martmax-footer></martmax-footer>