.third-header
{
    border: none;
    font-size: medium;
    background-color: white;
    border: none;
    margin-top: 1em;
    width: 100%;
    margin-bottom: 0;
}
.account
{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: .5em;
}
.container
{
    width: auto;
    padding: 0;
    margin: 0;
}
.profile
{
    font-size: medium;
    color: #4492f7;
}

.search-form
{
    padding-top: -2em;
}

.logo
{
    height: 90px;
}
.logo:hover
{
    cursor:pointer;
}
.profile-menu
{
    width: 10em;
    font-size: large;
    font-weight: bold;
    border: #4492f7 solid 1px;
}
.search-btn
{
    background: none;
    color: #4492f7;
    border: none;
    margin-left: -3em;
}

.frm-btn
{
    background-color: white; 
}
.search-txt
{
    background: none;
}

.search-btn:hover
{
    background:none;
}


#martmax-nav
{
    color: white;
}

.sign-up
{
    color: #4492f7;
    border: #4492f7 solid 1px;
    border-radius: 10px;
    width: 10em;
    font-weight: bold;
}

.sign-up:hover
{
    color: #4492f7;
    background-color: #343434;
}

.menu-icon
{
    float: right;
    margin-top: -2.1em;
    color: #4492f7;
}

.track-btn-white
{
    color: white;
}

.menu-label
{
    color: black;
    font-weight: bolder;
}

#login-btn
{
    color: white;
    font-weight: bold;
}

#login-btn:hover
{
    color: #4492f7;
    background:white;
}
#track-btn
{
    color: white;
    font-weight: bold;
}

#track-btn:hover
{
    color: #4492f7;
    background:white;
}

.track-btn
{
    width: 10em;
    margin-left: 10px;
}

.cart
{
    font-size: x-large;
    color: #4492f7;
}

a:hover
{
    color: black;
    background-color: white;
}

.middle-menu li, .account li
{
    padding-left: .5em;
    padding-top: .5em;
}

.middle-menu li:hover , .account li:hover 
{
    cursor: pointer;
    color: #4492f7;
}

.pre-btn
{
    margin-top:-0.4em;
}

.profile-bg
{
    border: #4492f7 solid 2px;
    border-radius: 10px;
    color: white;
    padding:0.3em;
    background-color: #4492f7;
}

.small-menu
{
    color: #4492f7;
    background-color: #4492f7;
    border: none;
}

.profile
{
    border: #4492f7 solid 1px;
    border-radius: 5px;
    padding: 4px;
}
.navbar-form
{
    margin: 0;
    padding: 0;
}
.glyphicon-heart#wishlist
{
    color: #4492f7;
    font-size: 30px;
}
.row>li
{
    margin: 0;
    padding: 1px;
}
.pre-btn
{
    margin-top: 0;
    margin-left: 7px;
}
.center-block3
{
    margin-left: 10px;
}
@media only screen and (max-width: 768px){
.navbar-form{
    display: none;
    width: 100%;
    height: 100px;
    -webkit-font-smoothing: subpixel-antialiased;
    }
.small-menu{
    display: none;
    }
}

.mo-cart-num
{
    background-color: tomato;
    color: white;
}