/* subscribe */

.subscribe {
    color: #0097df;
    background-color: #0097df;
}

.subscribe-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.subscribe-btn:hover {
    color: white;
    border-color: white;
}

.subscribe-txt-top {
    color: #0097df;
    font-weight: bolder;
    margin-left: 1em;
}

.subscribe-email {
    color: #5C5C5C;
    border: none;
    height: 2.5em;
    z-index: 1;
    font-weight: 500;
}

.form-control:focus {
    z-index: 1;
}

.subscribe-txt-middle {
    color: white;
    font-weight: bolder;
    font-size: 1em;
}

.female {
    background: url('../../../../../assets/images/martmax.png') no-repeat -527px -6574px;
    background-color: #f2e6ff;
    max-width: 100%;
    max-height: 100%;
}

.male {
    background: url('../../../../../assets/images/martmax.png') no-repeat -582px -6574px;
    background-color: #f2e6ff;
    max-width: 100%;
    max-height: 100%;
}

.button {
    color: black;
    border: none;
    background: none;
}

.button-border:hover {
    background-color: #4492f7;
    cursor: pointer;
}

.button-border:active {
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.button-border {
    background-color: #f2e6ff;
    padding: 0.5em;
}

.social-media {
    color: white;
    width: 3em;
    border: 0.15em solid white;
    border-radius: 50%;
    padding: 0.5em;
    text-align: center;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 20;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    position: relative;
    background-color: #f2f2f2;
    margin: auto;
    display: table;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 0;
}

.modal-body1 {
    padding: 1em 3em;
    display: inline-block;
    line-height: 14px;
    width: auto;
}

.modal-body2 {
    padding: 1em 3em;
    display: inline-block;
    line-height: 14px;
    width: 420px;
}

.modal-ok {
    background-color: #d63236;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 0.1em 1em;
}

.message {
    font-size: 1em;
}

.div-message-icon {
    float: left;
    padding: 0.5em 0.2em;
    width: 20%;
    text-align: right;
}

.div-message {
    float: left;
    padding: 0 0.2em;
    width: 80%;
    color: #666666;
}

.message-title-s {
    font-size: 1.5em;
    font-family: Demi;
    color: #d63236;
}

.message-title-f {
    font-size: 1.5em;
    font-family: Demi;
    color: red;
}

.message-title-f {
    font-size: 1.5em;
    font-family: Demi;
}

.message-icon {
    width: 100%;
}


/* The Close Button */

.close-div {
    float: right;
    background-color: #bababa;
    width: 10%;
    text-align: center;
    color: white;
}

.modal-top {
    margin: 0;
    overflow: auto;
}

.close-div:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-ok:hover,
.modal-ok:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.social-txt {
    color: white;
    font-weight: bolder;
    font-size: 1em;
    padding: 1px;
}

.social-font-size {
    font-size: 1.5em;
}

.f:hover {
    background-color: blue;
}

.t:hover {
    background-color: #1da1f2;
}

.y:hover {
    background-color: red;
}

.i:hover {
    background-color: black;
}

.p:hover {
    background-color: #bd081c;
}

.s:hover {
    background-color: #fffc00;
}

.g:hover {
    background-color: #de5347;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .mobile-right-div {
        float: left;
    }
    .social-font-size {
        font-size: 1.5em;
    }
    .ul-inmedia {
        font-size: 10px;
        padding: 0;
    }
    .list-inline>li {
        padding: 0;
    }
    .subscribe-email {
        height: 2.5em;
    }
    .subscribe-txt-middle {
        font-size: 10px;
    }
    .mobile-right-div {
        float: left;
    }
}


/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .mobile-right-div {
        float: left;
    }
    .social-font-size {
        font-size: 1.5em;
    }
    .ul-inmedia {
        font-size: 11px;
        padding: 0;
    }
    .list-inline>li {
        padding: 0;
    }
    .subscribe-email {
        height: 2.5em;
    }
    .subscribe-txt-middle {
        font-size: 0.75em;
    }
}