<!-- subscribe to our newsletter-->
<div class="container-fluid subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5  mobile-right-div">
                <h5 class="subscribe-txt-middle">Subscribe to receive special offers and latest news </h5>
                <div>
                    <form name="subscribe-form">
                        <div class="input-group">
                            <input id="email" type="text" class="form-control subscribe-email" name="email" placeholder="Enter your email">
                            <div id="female_id" class="input-group-addon female" (click)="genderclicked('0')">
                            </div>
                            <div id="male_id" class="input-group-addon male" (click)="genderclicked('1')">
                            </div>
                            <div id="sub_button" (click)="sub_clicked()" class="input-group-addon button-border">
                                <button type="submit" class=" subscribe-btn">Subscribe</button>
                            </div>
                        </div>
                    </form>
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <div class="modal-top row">
                                <div class="close-div">&#10006;</div>
                            </div>
                            <div id="modal-body" class="modal-body">
                                <div class="div-message-icon">
                                    <img id="message-icon" class="message-icon">
                                </div>
                                <div class="div-message">
                                    <p id="message-title" class="message-title"></p>
                                    <p id="myp" class="message"></p>
                                    <p id="myp3" class="myp3"></p>
                                    <p id="myp2" class="myp2"></p>
                                    <p class="modal-ok">Ok</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-5 col-md-5 col-sm-5 mobile-right-div">
                <ul class="list list-unstyled list-inline  pull-right ul-inmedia">
                    <h5 class="social-txt ">Join in:</h5>
                    <li>
                        <a href="#">
                            <div class="social-media f">
                                <i class="fa fa-facebook  social-font-size"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="social-media t">
                                <i class="fa fa-twitter  social-font-size"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="social-media i">
                                <i class="fa fa-instagram  social-font-size"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class=" social-media y">
                                <i class="fa fa-youtube  social-font-size"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="social-media p">
                                <i class="fa fa-pinterest social-font-size"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="social-media s">
                                <i class="fa fa-snapchat  social-font-size"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="social-media g">
                                <i class="fa fa-google-plus  social-font-size"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>