<martmax-header></martmax-header>

<martmax-scroll></martmax-scroll>

<scrap></scrap>

<category></category>

<martmax-top-brands></martmax-top-brands>

<martmax-sticky></martmax-sticky>

<martmax-banners></martmax-banners>

<martmax-listing-Products-by-catalog></martmax-listing-Products-by-catalog>

<!-- <catalog *ngFor="let catalog of catalogs" [keyword]="catalog.keyword" [category]="catalog.category" [pagination]="catalog.pagination">
</catalog> -->

<martmax-subscribe></martmax-subscribe>

<martmax-footer></martmax-footer>
