<martmax-header></martmax-header>

<scrap></scrap>

<div class="container" id="reg-box">
    <h2 class="text-center reg-txt">Create new account </h2>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3"></div>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
                <div class="form-group col-lg-6 col-md-6  col-sm-6 frt-name">
                    <input formControlName="firstName" type="text" placeholder="First Name" class="form-control frm-ctrl" />
                    <div *ngIf="formErrors.first_name" class="alert alert-danger">
                        {{ formErrors.first_name }}
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-6  col-sm-6 lst-name">
                    <input formControlName="lastName" type="text" placeholder="Last Name" class="form-control  frm-ctrl" />
                    <div *ngIf="formErrors.last_name" class="alert alert-danger">
                        {{ formErrors.last_name }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input formControlName="email" type="email" placeholder="Email" class="form-control frm-ctrl" />
                <div *ngIf="formErrors.email" class="alert alert-danger">
                    {{ formErrors.email }}
                </div>
            </div>

            <div class="form-group">
                <input formControlName="mobile" type="text" placeholder="Mobile" class="form-control frm-ctrl" />
                <div *ngIf="formErrors.mobile" class="alert alert-danger">
                </div>
            </div>

            <div class="form-group">
                <input formControlName="password" type="password" placeholder="Password" class="form-control frm-ctrl" />
                <div *ngIf="formErrors.password" class="alert alert-danger">
                    {{ formErrors.password }}
                </div>
            </div>

            <div class="form-group">
                <input ngui-datetime-picker date-only="true" [max-date]="maxDate" [default-value]="maxDate" class="form-control frm-ctrl"
                    formControlName="birthdate" placeholder="YYYY-MM-DD">
                <div *ngIf="formErrors.birthdate" class="alert alert-danger">
                    {{ formErrors.birthdate }}
                </div>
            </div>

            <div class="form-group">
                <select formControlName="gender" [ngClass]="{'has-error':!registrationForm.controls['gender'].valid}" class="form-control frm-ctrl">
                        <option *ngFor="let mqg of genders" [value]="mqg" class="">{{mqg}}</option>
                    </select>
                <div *ngIf="formErrors.gender" class="alert alert-danger">
                    {{ formErrors.gender }}
                </div>
            </div>

            <!--   <div class="form-group">
                            <label class="block">Timezone :
                        <input formControlName="timezone" type="text" placeholder="Timezone" class="form-control" />
                    </label>
                            <div *ngIf="formErrors.timezone" class="alert alert-danger">
                                {{ formErrors.timezone }}
                            </div>
                    

                        <div class="form-group">
                            <label class="block">Currency :
                        <input formControlName="currency" type="text" placeholder="Currency" class="form-control" />
                    </label>
                            <div *ngIf="formErrors.currency" class="alert alert-danger">
                                {{ formErrors.currency }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="block">Address :
                    <input formControlName="address" type="text" placeholder="Address" class="form-control" />
                </label>
                            <div *ngIf="formErrors.address" class="alert alert-danger">
                                {{ formErrors.address }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="block">Apartment :
                    <input formControlName="apartment" type="text" placeholder="Apartment" class="form-control" />
                </label>
                            <div *ngIf="formErrors.apartment" class="alert alert-danger">
                                {{ formErrors.apartment }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="block">Floor :
                    <input formControlName="floor" type="text" placeholder="Floor" class="form-control" />
                </label>
                            <div *ngIf="formErrors.floor" class="alert alert-danger">
                                {{ formErrors.floor }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="block">Building :
                    <input formControlName="building" type="text" placeholder="Building" class="form-control" />
                </label>
                            <div *ngIf="formErrors.building" class="alert alert-danger">
                                {{ formErrors.building }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="block">Street :
                    <input formControlName="street" type="text" placeholder="Street" class="form-control" />
                </label>
                            <div *ngIf="formErrors.street" class="alert alert-danger">
                                {{ formErrors.street }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="block">District :
                    <input formControlName="district" type="text" placeholder="District" class="form-control" />
                </label>
                            <div *ngIf="formErrors.district" class="alert alert-danger">
                                {{ formErrors.district }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="block">City :
                        <input formControlName="city" type="text" placeholder="City" class="form-control" />
                    </label>
                            <div *ngIf="formErrors.city" class="alert alert-danger">
                                {{ formErrors.city }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="block">State :
                        <input formControlName="state" type="text" placeholder="State" class="form-control" />
                    </label>
                            <div *ngIf="formErrors.state" class="alert alert-danger">
                                {{ formErrors.state }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="block">Country :
                        <input formControlName="country" type="text" placeholder="Country" class="form-control" />
                    </label>
                            <div *ngIf="formErrors.country" class="alert alert-danger">
                                {{ formErrors.country }}
                            </div>
                        </div> 

                        <div class="form-group">
                            <label class="block">Postal Code :
                    <input formControlName="postalCode" type="text" placeholder="Postal Code" class="form-control" />
                </label>
                            <div *ngIf="formErrors.postal_code" class="alert alert-danger">
                                {{ formErrors.postal_code }}
                            </div>
                        </div> -->

            <input formControlName="ip" type="hidden" class=" form-control" />
            <input formControlName="latitude" type="hidden" class="form-control" />
            <input formControlName="longitude" type="hidden" class="form-control" />
            <input formControlName="continent" type="hidden" class="form-control" />

            <div class="form-group">
                <div class="center-block  text-center">
                    <button type="submit" class="btn  gradient signUp">Sign up</button>
                </div>
            </div>

        </form>
        <div class="col-lg-3 col-md-3 col-sm-3"></div>
    </div>
</div>

<martmax-subscribe></martmax-subscribe>

<martmax-footer></martmax-footer>
