.navbar-nav>li>a {
    padding: 0;
    background: none;
    padding-right: 1em;
    color: #333;
    border-radius: 0;
    border: 0;
}

.navbar-nav>li {
    padding: 0;
    background: none;
    color: #333;
    border-radius: 0;
}

.navbar-nav>li :hover {
    color: #F7533C;
}

.navbar-nav>li {
    color: black;
}

.navbar-nav>li>a {
    color: black;
}

.navbar-nav>li>a :hover {
    color: black;
}

.navbar-header {
    margin: 0;
    background: #0097df;
    border-radius: 0;
    width: 100%;
    text-align: left;
}

.navbar {
    margin: 0;
    min-height: 100%;
    width: 100%;
    border-radius: 0px;
}

.nav>li>a {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
}

.padding-0,
.margin-0 {
    padding: 0;
    margin: 0;
}

.tabs-left {
    border-bottom: none;
}

.tabs-left {
    border-right: 1px solid #ddd;
    background-color: white;
}

.tabs-left>li {
    float: none;
    margin-bottom: 2px;
}

.tabs-left>li {
    margin-right: -1px;
}

.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
}

.tabs-left>li>a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display: block;
}

.tab-pane {
    border-bottom: #ddd solid 1px;
    border-top: #ddd solid 1px;
    border-right: #ddd solid 1px;
    height: 40em;
    background-color: white;
}

.height-image-banner {
    height: 23em;
    width: 100%;
}

.right-bottom-image {
    height: 12em;
    width: 100%;
}

.bottom-image {
    height: 12em;
    width: 100%;
}

.hot-products-txt {
    color: black;
    font-size: large;
    font-weight: 200;
    padding-left: 0.5em;
}

.mo-top-cataegory-title {
    background-color: white;
}

.mo-parent-category-title a {
    background-color: #4782DB;
    color: white;
}

.mo-container {
    background-color: #F8F8F8;
}

.mo-container {
    padding: 0;
}


/* scroll up  */

[class*="entypo-"]:before {
    font-family: "entypo", sans-serif;
}

#sticky-social {
    left: 0;
    position: fixed;
    top: 40em;
    left: -3em;
    float: right;
}


/* small devices*/
@media screen and (max-width: 39.9375em)
 {
     .height-image-banner
     {
        height: 7em;
     }
     .hot-products-txt
     {
         text-align: center;
         font-weight: 300;
     }

     .bottom-image
     {
         height: 7em;
         width: 100%;
     }

     .tab-pane
     {
         height:auto ;
         border: none;
     }

     .bottom-banner-height
     {
         height:6em; 
     }
     
 }

 /* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em)
 {
    .category-container
    {
        padding: 0;
        margin: 0;
    }
    .hot-products-txt {
        text-align: center;
        font-weight: 200;
    }
    .bottom-banner-height {
        height: 12em;
    }
}

.martmax-list {
    padding-left: 2em;
}

.martmax-list>li {
    padding-top: 0.5em;
    padding-bottom: .5em;
}

.martmax-list>li>a {
    color: black;
}

.martmax-list>li>a:hover {
    color: #4782DB;
    font-weight: 300;
}

.max-height {
    height: 23em;
}

.nav a {
    padding: 14px 16px;
}