<div class="container" style="padding: 0">
    <nav class="navbar">
        <div class="container" style="padding: 0">
            <div class="row padding-0 margin-0">
                <div class="col-lg-2 col-md-2 padding-0 mo-parent-category-title hidden-xs hidden-sm">
                    <a class="navbar-header" href="#">CATEGORIES <span> See all</span></a>
                </div>
                <div class="col-lg-10 col-md-10  mo-top-cataegory-title mo-top-category-childs hidden-xs hidden-sm">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="#">Prime</a></li>
                        <li class=""><a href="#">trending now</a></li>
                        <li class=""><a href="#">free shipping</a></li>
                        <li class=""><a href="#">koria</a></li>
                        <li class=""><a href="#">usa</a></li>
                        <li class=""><a href="#">local</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="row padding-0 margin-0">
        <!-- main categories -->
        <div class="col-lg-2 col-md-2 padding-0 hidden-xs hidden-sm">
            <ul class="nav nav-tabs tabs-left">
                <li><a href="#women" data-toggle="tab"><span style="padding: 0.25em"><img src="../../../../../assets/images/categoryicons/dress.png"></span> Women's Clothing</a></li>
                <li><a href="#men" data-toggle="tab"><span style="padding: 0.25em"><img src="../../../../../assets/images/categoryicons/shirt.png"></span> Men's Clothing</a></li>
                <li><a href="#phones" data-toggle="tab"><span style="padding: 0.25em"><img src="../../../../../assets/images/categoryicons/mobile.png"></span> Phones & Accessories</a></li>
                <li><a href="#computer" data-toggle="tab"><span style="padding: 0.25em"><img src="../../../../../assets/images/categoryicons/pc.png"></span> Computer & Networking</a></li>
                <li><a href="#consumer" data-toggle="tab"><span style="padding: 0.25em"><img src="../../../../../assets/images/categoryicons/ele.png"></span> Consumer Electronics</a></li>
                <li><a href="#watches" data-toggle="tab"><span style="padding: 0.25em"><img src="../../../../../assets/images/categoryicons/watch.png"></span> Jewelry & Watches</a></li>
                <li><a href="#home" data-toggle="tab"><span style="padding: 0.25em"><img src="../../../../../assets/images/categoryicons/bed.png"></span> Home & Garden</a></li>
                <li><a href="#shoes" data-toggle="tab"><span style="padding: 0.25em"><img src="../../../../../assets/images/categoryicons/shoe.png"></span> Bags & Shoes</a></li>
                <li><a href="#sport" data-toggle="tab"><span style="padding: 0.25em"><img src="../../../../../assets/images/categoryicons/ball.png"></span> Sports & Outdoors</a></li>
                <li><a href="#" data-toggle="tab"><span style="padding: 0.25em"><img src="../../../../../assets/images/categoryicons/car.png"></span> Automobiles & Moto</a></li>
                <li><a href="#health" data-toggle="tab"><span style="padding: 0.25em"><img src="../../../../../assets/images/categoryicons/health.png"></span> Beauty & Health</a></li>
                <li><a href="#" data-toggle="tab"><span style="padding: 0.25em"><img src="../../../../../assets/images/categoryicons/event.png"></span> Wedding & Events</a></li>
            </ul>
        </div>
        <div class="col-lg-10 col-md-10 padding-0">
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="row padding-0 main">
                        <div class="col-lg-9 col-md-9 padding-0">
                            <div class="row padding-0">
                                <!-- mobile coupon here-->
                                <martmax-coupon class="hidden-lg hidden-md"></martmax-coupon>
                                <swiper [config]="config" class="col-lg-12 col-md-12 padding-0">
                                    <div class="swiper-wrapper">
                                        <img class="swiper-slide img-responsive height-image-banner" routerLink="#" src="../../../../../assets/images/banners/banner1.jpg">
                                        <img class="swiper-slide img-responsive height-image-banner" routerLink="#" src="../../../../../assets/images/banners/banner2.jpg">
                                        <img class="swiper-slide img-responsive height-image-banner" routerLink="#" src="../../../../../assets/images/banners/banner3.jpg">
                                    </div>
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-button-next hidden-sm hidden-xs"></div>
                                    <div class="swiper-button-prev hidden-sm hidden-xs"></div>
                                </swiper>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding-0">
                            <div class="hidden-xs hidden-sm padding-0">
                                <live-coupon></live-coupon>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 padding-0 margin-0 hot-products-txt">
                            Hot products
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding-0">
                            <img class="img-responsive bottom-image" routerLink="#" src="../../../../../assets/images/banners/boy.jpg">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding-0">
                            <img class="img-responsive bottom-image" routerLink="#" src="../../../../../assets/images/banners/boy.jpg">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding-0">
                            <img class="img-responsive bottom-image" routerLink="#" src="../../../../../assets/images/banners/boy.jpg">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding-0">
                            <img class="img-responsive bottom-image" routerLink="#" src="../../../../../assets/images/banners/boy.jpg">
                        </div>
                    </div>
                </div>
                <!-- women -->
                <div class="tab-pane" id="women" style="background-image: url('../../../../../assets/images/category/womenclothing.png')">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <ul class="list list-unstyled martmax-list">
                                <!-- header parent -->
                                <h4>Dresses</h4>
                                <hr>
                                <!-- list childs-->
                                <li><a href="" target="_blank">Cotton</a> </li>
                                <li><a href="" target="_blank">Silk</a> </li>
                                <li><a href="" target="_blank">Linen</a> </li>
                                <li><a href="" target="_blank">Polyester</a> </li>
                                <li><a href="" target="_blank">Spandex</a> </li>
                                <li><a href="" target="_blank">Acetate</a> </li>
                                <li><a href="" target="_blank">Acrylic</a> </li>
                                <li><a href="" target="_blank"> Bamboo Fiber</a> </li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-3">
                            <ul class="list list-unstyled  martmax-list">
                                <h4>Bottoms</h4>
                                <hr>
                                <li><a href="" target="_blank">Skirts</a></li>
                                <li><a href="" target="_blank">Second item</a></li>
                                <li><a href="" target="_blank">Pants & Capris</a></li>
                                <li> <a href="" target="_blank">Leggings</a></li>
                                <li><a href="" target="_blank">Second item</a></li>
                                <li><a href="" target="_blank">Jeans</a></li>
                                <li> <a href="" target="_blank">Shorts</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-3">
                            <ul class="list list-unstyled martmax-list">
                                <h4>Accessories</h4>
                                <hr>
                                <li><a href="" target="_blank">Sunglasses</a></li>
                                <li><a href="" target="_blank">Eyewear Frames</a></li>
                                <li><a href="" target="_blank">Scarves</a></li>
                                <li><a href="" target="_blank">Belts & Cummerbunds</a></li>
                                <li><a href="" target="_blank">Belts & Cummerbunds</a></li>
                                <li><a href="" target="_blank">Skullies & Beanies</a></li>
                                <li><a href="" target="_blank">Eyewear & Accessories</a></li>
                                <li><a href="" target="_blank">Hats & Caps</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-3"> </div>

                        <div class="col-lg-3 col-md-3">
                            <ul class="list list-unstyled martmax-list">
                                <h4>Hoodies & Sweatshirts</h4>
                                <hr>
                                <li><a href="" target="_blank">Pullovers</a></li>
                                <li><a href="" target="_blank">Zip-up</a></li>
                                <li><a href="" target="_blank">Other</a></li>
                                <li><a href="" target="_blank">Cardigans</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- men -->
                <div class="tab-pane" id="men" style="background-image: url('../../../../../assets/images/category/mensclothing.png')">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <ul class="list list-unstyled martmax-list">
                                <!-- header parent -->
                                <h4>Tops & Tees</h4>
                                <hr>
                                <!-- list childs-->
                                <li><a href="" target="_blank">Polo</a> </li>
                                <li><a href="" target="_blank">Tank Tops</a> </li>
                                <li><a href="" target="_blank">T-Shirts</a> </li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-3">
                            <ul class="list list-unstyled  martmax-list">
                                <h4>Jackets & Coats</h4>
                                <hr>
                                <li><a href="" target="_blank">Down Jackets</a></li>
                                <li><a href="" target="_blank">Jackets</a></li>
                                <li><a href="" target="_blank">Parkas</a></li>
                                <li> <a href="" target="_blank">Faux Leather Coats</a></li>
                                <li><a href="" target="_blank">Trench</a></li>
                                <li><a href="" target="_blank">Wool & Blends</a></li>
                                <li> <a href="" target="_blank">Vests & Waistcoats</a></li>
                                <li> <a href="" target="_blank">Blazers</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-3">
                            <ul class="list list-unstyled martmax-list">
                                <h4>Accessories</h4>
                                <hr>
                                <li><a href="" target="_blank">Sunglasses</a></li>
                                <li><a href="" target="_blank">Eyewear Frames</a></li>
                                <li><a href="" target="_blank">Scarves</a></li>
                                <li><a href="" target="_blank">Belts & Cummerbunds</a></li>
                                <li><a href="" target="_blank">Baseball Caps</a></li>
                                <li><a href="" target="_blank">Skullies & Beanies</a></li>
                                <li><a href="" target="_blank">Eyewear & Accessories</a></li>
                                <li><a href="" target="_blank">Ties & Handkerchiefs</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-3">
                            <ul class="list list-unstyled martmax-list">
                                <h4>Underwear</h4>
                                <hr>
                                <li><a href="" target="_blank">Boxers</a></li>
                                <li><a href="" target="_blank">Briefs</a></li>
                                <li><a href="" target="_blank">Long Johns</a></li>
                                <li><a href="" target="_blank">Undershirts</a></li>
                                <li><a href="" target="_blank">Board Shorts</a></li>
                                <li><a href="" target="_blank">G-Strings & Thongs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- phones -->
                <div class="tab-pane" id="phones" style="background-image: url('../../../../../assets/images/category/phoneaccessoris.png')">
                    <div class="row">

                    </div>
                </div>

                <!-- computer -->
                <div class="tab-pane" id="computer" style="background-image: url('../../../../../assets/images/category/computer.png')">
                    <div class="row">

                    </div>
                </div>


                <!-- sport -->
                <div class="tab-pane" id="sport" style="background-image: url('../../../../../assets/images/category/sport.png')">
                    <div class="row">

                    </div>
                </div>


                <!-- consumer -->
                <div class="tab-pane" id="consumer" style="background-image: url('../../../../../assets/images/category/consumer.png')">
                    <div class="row">

                    </div>
                </div>


                <!-- shoes -->
                <div class="tab-pane" id="shoes" style="background-image: url('../../../../../assets/images/category/shoes.png')">
                    <div class="row">

                    </div>
                </div>

                <!-- health -->
                <div class="tab-pane" id="health" style="background-image: url('../../../../../assets/images/category/health.png')">
                    <div class="row">

                    </div>
                </div>

                <!-- watch -->
                <div class="tab-pane" id="watch" style="background-image: url('../../../../../assets/images/category/watch.png')">
                    <div class="row">

                    </div>
                </div>

                <!-- home -->
                <div class="tab-pane" id="home" style="background-image: url('../../../../../assets/images/category/home.png')">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <hr>
</div>