<div class="container">
    <!-- women -->
    <div class="row banners-content" style="border-top: #FF00D6 solid 3px">
        <!-- categories-->
        <div class="col-md-2 padding-0 max-height mo-banners-category text-center hidden-xs hidden-sm">
            <div class="parent">
                <h2 style="padding: .250em" class="category-main-title" style="color:#FF00D6">Women's Clothes</h2>
            </div>
            <ul class="list-unstyled mo-banners-list">
                <li><a href="#">Dresses</a></li>
                <li><a href="#">Blouses & Shirts</a></li>
                <li><a href="#">Jumpsuits</a></li>
                <li><a href="#">Jackets</a></li>
                <li><a href="#">Trench Coats</a></li>
                <li><a href="#">Tops & Tees</a></li>
                <li><a href="#">  Hoodies</a></li>
                <li><a href="#">   Bra & Brief Sets</a></li>
                <li><a href="#">Pants & Capris</a></li>
                <li><a href="#">Sunglasses</a></li>
                <li><a href="#">Socks</a></li>
            </ul>
        </div>
        <h2 style="padding: .250em" class="category-main-title hidden-lg hidden-md text-center" style="color: #FF00D6">Women's Clothes</h2>
        <!-- slider banners-->
        <div class="col-lg-4 col-md-4 padding-0">
            <swiper [config]="config">
                <div class="swiper-wrapper">
                    <!-- 
                            text color from back-end 
                        -->
                    <div class="swiper-slide height-image-banner">
                        <img class="img-responsive height-image-banner" style="width: 100%" routerLink="#" src="../../../../../assets/images/banners/women/1.jpg">
                        <span class="banner-text" style="background-color:#FF00D6">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                    </div>
                    <div class="swiper-slide height-image-banner">
                        <img class="img-responsive height-image-banner" style="width: 100%" routerLink="#" src="../../../../../assets/images/banners/women/2.jpg">
                        <span class="banner-text" style="background-color:#FF00D6">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                    </div>
                    <div class="swiper-slide height-image-banner">
                        <img class="img-responsive height-image-banner" style="width: 100%" routerLink="#" src="../../../../../assets/images/banners/women/3.jpg">
                        <span class="banner-text" style="background-color:#FF00D6">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next hidden-xs hidden-sm"></div>
                <div class="swiper-button-prev hidden-xs hidden-sm"></div>
            </swiper>
        </div>

        <!-- middle banners-->
        <div class="raw col-md-4 padding-0 col-xs-12 col-sm-12 max-height">
            <img class="img-responsive banner-img-border middle-banner-top col-xs-4 col-sm-4" src="../../../../../assets/images/banners/polo-sale.jpg"
                alt="Banner">
            <h2 class="middle-top-banner hidden-sm hidden-xs">Best Seller</h2>
            <!-- left -->
            <div class="pull-left min-height-min-width banner-img-border col-xs-3 col-sm-3 padding-0">
                <h4 style="height:10%" class="text-center hidden-sm hidden-xs">Jackets</h4>
                <img class="img-responsive max-height-max-width" src="../../../../../assets/images/banners/jacktes.png" alt="Banner">
            </div>
            <!-- right -->
            <div class="pull-right min-height-min-width banner-img-border col-xs-3  col-sm-3 padding-0">
                <h4 style="height:10%" class="text-center hidden-sm hidden-xs">Shirts</h4>
                <img class="img-responsive max-height-max-width" src="../../../../../assets/images/banners/jacktes.png" alt="Banner">
            </div>
        </div>

        <!-- right banners-->
        <div class="raw col-lg-2 col-md-2 padding-0 max-height">
            <div class="mid-height-max-width banner-img-border col-xs-6 col-sm-6 padding-0">
                <h4 style="height:10%" class="text-center hidden-sm hidden-xs">Jackets</h4>
                <img class="img-responsive max-height-max-width" src="../../../../../assets/images/banners/jacktes.png" alt="Banner">
            </div>
            <div class="mid-height-max-width banner-img-border col-xs-6 col-sm-6 padding-0">
                <h4 style="height:10%" class="text-center hidden-sm hidden-xs">Shirts</h4>
                <img class="img-responsive max-height-max-width" src="../../../../../assets/images/banners/t-shirts.png" alt="Banner">
            </div>
        </div>
        <hr>
        <!-- bottom banners -->
        <div class="row" style="margin: 0">
            <!-- left banner -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-0">
                <img class="swiper-slide img-responsive bottom-banner-height" routerLink="#" src="../../../../../assets/images/banners/women/bottom1.jpg">
            </div>

            <!-- right banner -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-0">
                <img class="swiper-slide img-responsive bottom-banner-height" routerLink="#" src="../../../../../assets/images/banners/women/bottom2.jpg">
            </div>
        </div>
    </div>
    <hr>
    <!-- men -->
    <div class="row banners-content" style="border-top: #00a3ff solid 3px">
        <!-- categories-->
        <div class="col-md-2 padding-0 max-height mo-banners-category text-center hidden-xs hidden-sm">
            <div class="parent">
                <h2 style="padding: .250em" class="category-main-title" style="color: #00a3ff">Men's Clothes</h2>
            </div>
            <ul class="list-unstyled mo-banners-list">
                <li><a href="#">Hoodies</a></li>
                <li><a href="#">T-Shirts</a></li>
                <li><a href="#">Parkas</a></li>
                <li><a href="#">Striped Shirts</a></li>
                <li><a href="#">Jeans</a></li>
                <li><a href="#">Underwear</a></li>
                <li><a href="#">Scarves</a></li>
                <li><a href="#">Sunglasses</a></li>
                <li><a href="#">Baseball Caps</a></li>
                <li><a href="#">Costumes</a></li>
            </ul>
        </div>
        <h2 style="padding: .250em" class="category-main-title hidden-lg hidden-md text-center"  style="color: #00a3ff">Men's Clothes</h2>
        <!-- left banners-->
        <div class="col-md-4 padding-0">
            <swiper [config]="config">
                <div class="swiper-wrapper">
                        <!-- 
                                text color from back-end 
                            -->
                        <div class="swiper-slide height-image-banner">
                            <img class="img-responsive height-image-banner" style="width: 100%" routerLink="#" src="../../../../../assets/images/banners/men/1.jpg">
                            <span class="banner-text" style="background-color:#00a3ff">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                        </div>
                        <div class="swiper-slide height-image-banner">
                            <img class="img-responsive height-image-banner" style="width: 100%" routerLink="#" src="../../../../../assets/images/banners/men/2.jpg">
                            <span class="banner-text" style="background-color:#00a3ff">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                        </div>
                        <div class="swiper-slide height-image-banner">
                            <img class="img-responsive height-image-banner" style="width: 100%" routerLink="#" src="../../../../../assets/images/banners/men/3.jpg">
                            <span class="banner-text" style="background-color:#00a3ff">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                        </div>
                    </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next  hidden-xs hidden-sm"></div>
                <div class="swiper-button-prev  hidden-xs hidden-sm"></div>
            </swiper>
        </div>

        <!-- middle banners-->
        <div class="raw col-md-4 padding-0 col-xs-12 col-sm-12 max-height">
            <img class="img-responsive banner-img-border middle-banner-top col-xs-4 col-sm-4" src="../../../../../assets/images/banners/polo-sale.jpg"
                alt="Banner">
            <h2 class="middle-top-banner hidden-sm hidden-xs">Best Seller</h2>
            <!-- left -->
            <div class="pull-left min-height-min-width banner-img-border col-xs-3 col-sm-3 padding-0">
                <h4 style="height:10%" class="text-center hidden-sm hidden-xs">Jackets</h4>
                <img class="img-responsive max-height-max-width" src="../../../../../assets/images/banners/jacktes.png" alt="Banner">
            </div>
            <!-- right -->
            <div class="pull-right min-height-min-width banner-img-border col-xs-3  col-sm-3 padding-0">
                <h4 style="height:10%" class="text-center hidden-sm hidden-xs">Shirts</h4>
                <img class="img-responsive max-height-max-width" src="../../../../../assets/images/banners/jacktes.png" alt="Banner">
            </div>
        </div>

        <!-- right banners-->
        <div class="raw col-lg-2 col-md-2 padding-0 max-height">
            <div class="mid-height-max-width banner-img-border col-xs-6 col-sm-6 padding-0">
                <h4 style="height:10%" class="text-center hidden-sm hidden-xs">Jackets</h4>
                <img class="img-responsive max-height-max-width" src="../../../../../assets/images/banners/jacktes.png" alt="Banner">
            </div>
            <div class="mid-height-max-width banner-img-border col-xs-6 col-sm-6 padding-0">
                <h4 style="height:10%" class="text-center hidden-sm hidden-xs">Shirts</h4>
                <img class="img-responsive max-height-max-width" src="../../../../../assets/images/banners/t-shirts.png" alt="Banner">
            </div>
        </div>
        <hr>
        <!-- bottom banners -->
        <div class="row" style="margin: 0">
            <!-- left banner -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  padding-0">
                <img class="swiper-slide img-responsive bottom-banner-height" routerLink="#" src="../../../../../assets/images/banners/men/bottom1.jpg">
            </div>

            <!-- right banner -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-0">
                <img class="swiper-slide img-responsive bottom-banner-height" routerLink="#" src="../../../../../assets/images/banners/men/bottom1.jpg">
            </div>
        </div>
    </div>


</div>