

/*Validation with angular using css*/

input[type="email"]:valid {
  border: 2px solid #EAEAEA;
}

input[type="email"]:touched {
  border: 2px solid #4491F6;
}

input[type="email"]:invalid {
  border: 2px solid red;
}

input[type="password"]:valid {
  border: 2px solid #EAEAEA;
}

input[type="password"]:touched {
  border: 2px solid #4491F6;
}

input[type="password"]:invalid {
  border: 2px solid red;
}

#bg-color
{
  padding: 5%;
}

.btn-bg
{
width: 20em;
color: white;
padding: 5px;
}

.frm-ctrl
{
    height: 40px;
    border-radius: 10px;
}

.btn-social
{
  color: white;
}

.frm-ctrl-wd
{
  width: 40em;
  height: 3em;
}

.frm-ctrl-social-wd
{
  width: 30em;
  height: 3em;
  border-radius: 10px;
}
.content-padding
{
  padding: 1em;
}

.font-icon
{
  font-weight: 200;
  font-size: larger;
}

/* Small only */
@media screen and (max-width: 39.9375em)
 {
  .frm-ctrl-wd
  {
    width: 20em;
    height: 3em;
  }

  .frm-ctrl-social-wd
  {
    width: 20em;
    height: 3em;
  }

  .mobile-login
  {
    width: 10em;
    height: 2.5em
  }

  .mobile-txt
  {
    font-size:medium;
  }
 }

 /* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em)
 {
  .frm-ctrl-wd
  {
    width: 30em;
    height: 3em;
  }

  .frm-ctrl-social-wd
  {
    width: 30em;
    height: 3em;
  }

  .mobile-login
  {
    width: 20em;
    height: 2.5em
  }

  .mobile-txt
  {
    font-size:large;
  }
 }