<martmax-header></martmax-header>

<scrap></scrap>

<div class="container center-block text-center" id="bg-color">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate style=" margin: 0 auto">

        <h2 class="text-center mobile-txt">Login to your account</h2>

        <div *ngIf="formErrors && typeof(formErrors) === 'string'" class="alert alert-danger" [innerHTML]="formErrors"></div>

        <div class="form-group">
            <input formControlName="email" type="email" placeholder=" email" class="form-control frm-ctrl frm-ctrl-wd center-block" />
            <div *ngIf="formErrors && formErrors.username" class="alert alert-danger">
                {{ formErrors.username }}
            </div>
        </div>

        <div class="form-group">
            <input formControlName="password" type="password" placeholder="password" class="form-control frm-ctrl frm-ctrl-wd center-block"
            />
            <div *ngIf="formErrors && formErrors.password" class="alert alert-danger">
                {{ formErrors.password }}
            </div>
        </div>
        <h2 class="text-center mobile-txt">Login with social media</h2>
        <div>
            <button class="form-control center-block btn-social frm-ctrl-social-wd " style="background-color: #3B5998"> <i class="fa fa-facebook font-icon" aria-hidden="true"></i> Sign in using facebook</button><br>
        </div>
        <button class="form-control center-block btn-social frm-ctrl-social-wd" style="background-color: #55ACEE"><i class="fa fa-twitter font-icon" aria-hidden="true"></i>Sign in using  twitter</button>
        <div class="form-group content-padding">
            <button type="submit" class="btn-bg btn  gradient mobile-login">Login</button>
        </div>
    </form>
</div>

<martmax-subscribe></martmax-subscribe>

<martmax-footer></martmax-footer>