.search-form
{
    width: 100%;
}

.search-btn
{
    background: none;
    color: #4492f7;
    border: none;
    margin-left: -3em;
}

.search-btn:hover
{
    background:none;
}
/*****************************/
.row
{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.select-category
{
    height: 2em;
    border: #4492f7 solid 1px;
    background: none;
    padding: 7px;
    color: #4492f7;
    font-weight: bold;
    font-size: medium;
}
.input-product
{
    height: 2em;
    border: #4492f7 solid 1px;
    background: none; 
    color: #4492f7;
    padding: 7px;
    font-weight: bold;
    font-size:medium;
}
option
{
    background: none;
    border: black solid 1px;
}
.search-btun
{
    margin-top: 7px;
    padding: 0;
}
@media only screen and (max-width: 768px){
    #mediaid
    {
        width: 100%;
    }
}