<div class="single-coupon">
    <div id="coupon-first-section" class="coupon-first-section">
        <img id="coupon-banner" class="coupon-banner" src="../../../../../assets/images/banners/coupon.png">
        <p class="off-percentage">50%</p>
        <p id="coupon-title" class="coupon-title">

        </p>
        <p style="margin:0;">__Use Code__</p>
        <div class="div-code">
            <p id="code" class="code"></p>
        </div>
        <p id="coupon-expire-date" class="coupon-expire-date">

        </p>
        <div class="row coupon-button-div">
            <button id="coupon-button" routerLink="home" class="coupon-button">View Details</button>
            <button id="copy-button" class="copy-button">Copy code</button>
        </div>
    </div>

</div>